{% extends 'kyd_dashboard/kyd_base.html' %}

{% load static %}

{% block feature_css %}

  <link rel="stylesheet" href="{% static 'kyd_dashboard/css/index.css' %}" >

  <style>

    #table{

        width: 90%;

        height: 75%;

        font-size: large;

    }

    th{

        border:2px solid black;

        font-weight: bolder;

        text-align: center;

    }   

    td{

      border:2px solid black;

      text-align: center;

    }

  </style>

{% endblock %}

{% block feature %}


<div class='heading text-dark mt-2 text-center' id="barTitle"> Measurement Efficiency </div>

<div class="row text-center" style="height: 100px;">

  <div class="col-12 bg-info h-75 w-100" >

    <!-- select month -->
    

    <div class="dropdown" style="float: left; margin:20px; font-weight:bold">

      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        Select Month

		<span class="selectedMonth"></span>

      </button>

      <div class="dropdown-menu month" aria-labelledby="dropdownMenuButton">
        {% for month_select in monthList %} 
        <a class="dropdown-item" href="#">{{ month_select.month }}</a>
        {% endfor %}   
      </div>

    </div>

    <!-- select category -->

    <div class="dropdown" style="float: left; margin:20px; font-weight:bold"> 

      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        Select Category

		<span class="selectedCategory"></span>

      </button>

      <div class="dropdown-menu category" aria-labelledby="dropdownMenuButton">

        <a class="dropdown-item" href="#">Height%</a>

        <a class="dropdown-item" href="#">Weight%</a>

        <a class="dropdown-item" href="#">Height+Weight %</a>

      </div>

    </div>



    <button type="button" class="btn btn-info" style="float: left; margin:20px" onclick="location.href=`{% url 'f2' dist_name quarter %}`">Next Feature</button>



   

    

  </div>


  <div class="row" style="font-size:15px; font-weight:bold; top: 200px; position:absolute; right:10px;">Please Scroll Down to see Actual Numbers</div>
  

  <div class="col-12 m-5">

    <svg width="1250" height="350"></svg>


  </div>

  <div id="table" class="row h-50 bg-light justify-content-center ">

                        

  </div>

</div>


{% endblock %}
{% block feature_js %}

<script>

 
  
  //const width = window.innerWidth;

  
  const svg = d3.select('svg');
  var width = +svg.attr('width');
  const height = +svg.attr('height');

  const yScale = [];

  const xScale = [];

  let month_hack = 'Nov';   

  function filterCSV(csv, key, value) {
  var result = [];
  csv.forEach(function(val,idx,arr){
  
    if(val[key] == value){
    
      result.push(val)
    }
  })
  return result;
}

  

  const render = data =>{

    console.log(data.length);
    
    if (data.length > 8)
    {
    width = 1200;
    } else if (data.length < 3)	
    {	
      width = 500;	
    } else{
    width = 850;
    }
  
      let yValue  = d => d.ht_percent;
      const xValue = d => d.block_n;
      const margin = {left:100,top:10 ,right:100,bottom:90};
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;

      const yScale = d3.scaleLinear()

          .domain([100,0])

          .range([0,innerHeight]);

      

      const xScale = d3.scaleBand()

          .range([0,innerWidth])

          .padding(0.1);

      

      xScale.domain(data.map(xValue))

  

      

      const g = svg.append('g').attr("preserveAspectRatio", "xMinYMin meet")

          .attr('transform', `translate(${margin.left}, ${margin.top})`);

  

      var myColor = d3.scaleSequential().domain([d3.min(data,yValue),d3.max(data,yValue)])

      .interpolator(d3.interpolateRdYlGn);


          var bars =   g.selectAll("rect").data(data)

          .enter().append('rect')

              .attr('x', d => xScale(d.block_n)+1)

              .attr('y', d => yScale(yValue(d)))

              .attr('height',d => innerHeight - yScale(yValue(d)))

              .attr('width', 60)

              .attr("font-size", "14px")

              .attr("fill", d => myColor(yValue(d)))


          //update new values

        var mytext = g.selectAll("text").data(data)

             .enter().append("text")

            .text(d => yValue(d))

              .attr('x', d => xScale(d.block_n)+15)

              .attr('y', d => yScale(yValue(d))-5)

             .attr("font-family", "sans-serif")

             .attr("font-size", "12px")

             .attr("fill", "blue")

			

			

			 

  

      var yaxis = g.append('g')

          .call(d3.axisLeft(yScale))

		  .attr("font-size", "15px")

		  .attr("font-weight", "bold");

      

      var xaxis = g.append('g').call(d3.axisBottom(xScale))

          .attr('transform',`translate(0, ${innerHeight})`)

		   .attr("font-size", "8x")

		   .attr("font-weight", "bold");

    

          makeviz = opt =>{

            let tansitionDuration = 1000;

            if(opt == 'Height%'){

              yValue  = d => d.ht_percent;

              data = sortData(data,'ht_percent');

              // console.log('height');

            }else if (opt == 'Weight%' ){

              yValue  = d => d.wt_percent; 

              data = sortData(data,'wt_percent');

              console.log('weight');

            }else{

              data = sortData(data,'ht_wt_percent');

              yValue  = d => d.ht_wt_percent;

            }

        const xScale0 = xScale.domain(data.map(xValue)).copy();

  

        const yScale = d3.scaleLinear()

          .domain([100,0])

          .range([0,innerHeight]);

              

          bars.transition().duration(tansitionDuration)

              .attr('y', d => yScale(yValue(d)))

              .attr('x', d => xScale0(d.block_n))

              .attr('height',d => innerHeight - yScale(yValue(d)))

              .attr("fill", d => myColor(yValue(d)))

			  

			

  

  

          // Remove old ones

          bars.exit().remove();

            

            

            //text update

            mytext.transition().duration(tansitionDuration)

            .text(d => yValue(d))

              .attr('y', d => yScale(yValue(d))-5)

              .attr('x', d => xScale0(d.block_n)+15)

			  .attr("font-family", "sans-serif")

             .attr("font-size", "12px")

            

			  .attr("font-weight", "bold")

			 

           mytext.exit().remove();

            

            // y axis update

            

            yaxis.transition().duration(tansitionDuration)

          .call(d3.axisLeft(yScale));

            

            // x axis update

            xaxis.transition().duration(tansitionDuration)

          .call(d3.axisBottom(xScale));

            
          xaxis.selectAll("text").attr("font-size", "12px")
            .attr("font-weight", "bold")
            .style("text-anchor", "end")
            .attr("dx", "-.8em")
            .attr("dy", ".15em")
            .attr("transform", "rotate(-45)" );

            

          }   

  

  const dropdownChange = () =>{

    var sel = document.getElementById('opt');

    val = document.getElementById("opt").value

	console.log(sel);

  }

  makeviz("Height%");

  $(".category a").click(function(){

  $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="selectedCategory"></span>');

 $(this).parents(".dropdown").find('.btn').val($(this).data('value'));

	var valCategory = $(this).text();	

	var displayVal = valCategory.substring(0, valCategory.length-1);

	console.log(displayVal);

	if(displayVal== "Height+Weight ")

	displayVal = displayVal.replace("Height+Weight", "Height and Weight");

	document.getElementById('barTitle').innerHTML=displayVal+" Measurement Efficiency";

  makeviz(valCategory);





});







   

  $(".drop-month a").click(function(){

      var val = $(this).text();

	  $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="selectedCategory"></span>');

	$(this).parents(".dropdown").find('.btn').val($(this).data('value'));

  })

  }

  

  
  const sortData = (data,parameter) =>{

  sortedData = data.slice().sort((a, b) => d3.descending(a[parameter], b[parameter]))

  return sortedData;

  }


  /////

  data_from_django = {{ data|safe }};

  var data = []

  data_from_django.forEach(element => {

    data.push(element.fields);

  });


  data.forEach(d => {
    d.no_enrolled = +d.no_enrolled;
    d.tot_elgb_wghd = +d.tot_elgb_wghd;
    d.tot_elgb_hght = +d.tot_elgb_hght;
    d.no_wt = +d.no_wt;
    d.no_ht = +d.no_ht;
    d.no_wt_ht = +d.no_wt_ht;
    d.ht_percent = +d.ht_percent;
    d.wt_percent = +d.wt_percent;
    d.ht_wt_percent = +d.ht_wt_percent;
    d.month_n = d.month_n;
		
  });


//   d3.csv("{% static 'data/csv/f1.csv'%}").then(data=>{

console.log(data)

 
  $(".month a").click(function(){

	$(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="selectedMonth"></span>');

	$(this).parents(".dropdown").find('.btn').val($(this).data('value'));

      var val = $(this).text();
      
      filterdata = filterCSV(data, 'month_n', val);
      mydata = sortData(filterdata,'ht_percent');

      tableData = tables(filterdata);

      svg.selectAll("*").remove();

      render(mydata,tableData);

      

});



$(function(){


  //bind event

  $(".month a").click(function(){

    var selText = $(this).text();

    console.log(selText);

    $(this).parents('.dropdown').find('.dropdown-toggle').html(selText + ' <span class="selectedMonth"></span>');

  });

   $(".category a").click(function(){

    var selText = $(this).text();

    console.log(selText);

    $(this).parents('.dropdown').find('.dropdown-toggle').html(selText + ' <span class="selectedCategory"></span>');

  });



  //trigger event

  $('.month a').first().trigger('click');

  $(".category a").first().trigger('click');

});


  monthSelect=$('.month a').first().text();
  augData = filterCSV(data, 'month_n', monthSelect);
  sortedData = sortData(augData,'ht_percent');

  render(sortedData); 

  tables(augData); 



//   });


        function tables(data){

            $( ".hello" ).remove();

            var tbdata = [];

            data.forEach(d=>{

                var tbd = {}

                tbd["Block"] = d.block_n;

                tbd["Number of Children 0-6 years old enrolled for services"] = d.no_enrolled;

                tbd["Total No. of Children Eligible to be Weighed"] = d.tot_elgb_wghd;

                tbd["Total No. of Children Eligible for measuring Height"] = d.tot_elgb_hght;

                tbd["Total No. of Children Weighed"] = d.no_wt;

                tbd["Total No. of Children whose Height has been measured"] = d.no_ht;

                tbd["Total No. of Children whose Height and Weight has been measured"] = d.no_wt_ht;

                tbdata.push(tbd);

            });


          var table = d3.select('div#table').append('table').attr('class','hello');

           

		  var titles = d3.keys(tbdata[0]);

		  var headers = table.append('thead').append('tr')

		                   .selectAll('th')

		                   .data(titles).enter()

		                   .append('th')

		                   .text(function (d) {

			                    return d;

		                    });


		  var rows = table.append('tbody').selectAll('tr')

		               .data(tbdata).enter()

                       .append('tr');
  

          rows.selectAll('td')

          .data(function (d) {

            return titles.map(function (k) {

              return { 'value': d[k], 'name': k};

            });

		      }).enter()

            .append('td')

		    .text(function (d) {

		    	return d.value;

            });

        }

  </script>

{% endblock %}
