{% extends 'kyd_dashboard/kyd_base.html' %}
{% load static %}
{% block feature_css %}
  <link rel="stylesheet" href="{% static 'kyd_dashboard/css/index.css' %}" >
<link rel="stylesheet" type="text/css" href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'><link>

<style>
body {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  overflow: hidden;
}

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 150px;          
    height: 40px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: #fff; 
    border: 0px;        
    pointer-events: none;     
}

.boundary {
  stroke: #ccebed;
  stroke-width: 2px; 
}

.slider-lebel{
	background-color: black;
    font-weight: bold;
}

.info{
    text-align: center;
    font-size: 20px;
    margin: 50px;
}

</style>
{% endblock %}
{% block feature %}

<div class='h2 text-dark mt-2 text-center'>Pregnant Women Related Indicators</div>
  <div class="full-height" style="overflow-y: scroll; max-height: 700px;">
    <div class="row bg-info header ">
        <div class="dropdown" style="float: left; margin:20px">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select Month
          		<span class="selectedMonth"></span>
            </button>
            <div class="dropdown-menu drop-month" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">August</a>
              <a class="dropdown-item" href="#">September</a>
              <a class="dropdown-item" href="#">October</a>
            </div>
          </div>
          <div class="dropdown" style="float: left; margin:20px"> 
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select Category
              <span class="selectedCategory"></span>
            </button>
                <div class="dropdown-menu drop-category" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Aneamic Women (%)</a>
                    <a class="dropdown-item" href="#">Tenatus Completed (%)</a>
                    <a class="dropdown-item" href="#">Women had atleast 1 ANC visit by delivery (%)</a>
                    <a class="dropdown-item" href="#">Women had atleast 4 ANC visit by delivery (%)</a>
                    <a class="dropdown-item" href="#">Women Resting During Pregnancy (%)</a>
                    <a class="dropdown-item" href="#">Women Eating Extra Meal During Pregnancy (%)</a>
                    <a class="dropdown-item" href="#">Trimester 3 women counselled on immediate breastfeeding (%)</a>


                </div>
            </div>
            <button type="button" class="btn btn-info back-button" style="float: left; margin:20px"><i class="fa fa-backward" aria-hidden="true"></i>Previous Level</button>
            <button type="button" class="btn btn-info" style="float: left; margin:20px" onclick="location.href=`{% url 'feat7'%}`">Previous Feature</button>
            <button type="button" class="btn btn-info" style="float: left; margin:20px" onclick="location.href='#'">Next Feature</button>
            

      

    </div>
  <div class="row h-100">
    <div class="col-7">
        <div class="row h-10 " style="background-color:rgb(245, 245, 245);">
            <div style="margin-left: 370px;"class="row w-100 h-10">
                <p id="value-range"></p>
            </div>
            <div style="margin-left: 250px;"class="row w-100 h-10">
                <div id="slider-range"></div>
                
            </div>

      	</div>
	<div class="row h-75" >
          <svg></svg>
      </div>
    </div>
    <div class="col-5">
       <div class='row h-75 ' style="overflow-y: scroll; max-height: 500px;">
            <div class='data-table' ></div>
      </div>
      <!-- <div class='row h-25' style="background-color: #F5F5F5;">
        <div class='info'>
        	<b>Month:</b><span class=' info-month'>August</span><br>
          <b>Category:</b><span class=' info-category'>Aneamic Women (%)</span>
        </div>
      </div> -->
    </div>
   
  </div>
</div>
  </div>
  
  

{% endblock %}


{% block feature_js %}

<script>
const width = '1000'; 
const height = '800';
const transitionDuration = 1000;
let level = 0;
let levelLocation = [];
let month_hack = 'aug';
let direction = 1;
let table = d3.select('.data-table').append('table').attr('class','table update-table');
let headerName = ['Location','Percentage','Actual Number'];
let headers = table.append('thead').append('tr')
                   .selectAll('th')
                   .data(headerName).enter()
                   .append('th')
                   .text(d=>d);
let row = table.append('tbody').selectAll('tr');

//Zoom
let zzoom = d3.zoom().scaleExtent([1, 8]).on("zoom", zoomed); 
function zoomed() {
  g.style("stroke-width", 1.5 / d3.event.transform.k + "px");
  g.attr("transform", d3.event.transform); // updated for d3 v4
}
const svg = d3.select('svg').attr('width', width).attr('height', height);
const g = svg.append('g');
const mercator = d3.geoMercator().scale(25000).translate([width/2, height/2]).center([73,19.4]);
const pathGenerator = d3.geoPath().projection(mercator);
//Zoom
// svg.call(d3.zoom().on('zoom',() =>{
// 	g.attr('transform',event.transform)
// })) 

const render = (block,project,beat,blockData,projectData,beatData) => {
  let InitialPValue = d => d.properties.prnt_anwmic_wmn;
  let TextValue = null;
	let ColorValue = InitialPValue;
  const fillCellColor = (d,percentageColor,actualColor) =>{
  	if(d.name == 'Percentage')
      	return percentageColor(d.value)
    else if(d.name == 'Actual Number')
      return actualColor(d.value)
  }
  
  // //info-div
  // const updateMonth = (selectedMonth) =>{
  // 	switch(month_hack){
  //     case 'aug':selectedMonth = 'August';break;
  //     case 'sep':selectedMonth = 'September';break;
	// 		case 'oct':selectedMonth = 'October';break;
  //   }
  //   d3.select('.info-month').text(selectedMonth);
  // }
  
  // const updateCategory = (updatedCat) =>{
  // 	d3.select('.info-category').text(updatedCat);
  // }
  
  //makemap
  const makemap = (geojson,tdata) => {
  // updateMonth();
    console.log(level);
  if(level == 0 && direction == 1){
  	TextValue = d => d.properties.Block; 
  }else if(level == 1 && direction == 1){
  	TextValue = d => d.properties.Project;
  }else if(level == 2 && direction == 1){
    	TextValue = d => d.properties.beat_na;
  }else if(level == 2 && direction == 0){
    	TextValue = d => d.properties.Project;
  }else if(level == 1 && direction == 0){
    	TextValue = d => d.properties.Block;
  }
  let min = d3.min(geojson,ColorValue);
	let max = d3.max(geojson,ColorValue);
	let comp = (max - min)/3;
  let myColor = (v,low,high) =>{
    if(v<low)
      return 'green'; //matte green
    else if(v >= low && v <= high)
      return 'yellow'; //matte yellow
    else if(v>high)
      return 'red'; //matte red
  } 
//onmouseover
let tooltip = d3.select("body").append("div") 
        .attr("class", "tooltip")       
        .style("opacity", 0);

  const onMouseOver = d =>{	
    tooltip.transition().duration(200).style("opacity", .9);		
    tooltip.html("<b>"+TextValue(d)+"</b><br>"+ColorValue(d)+"%")
      .style("left", d3.event.pageX + "px")
      .style("top",  d3.event.pageY - 30 + "px");
  }
  
  	let path = g.selectAll('path').data(geojson);
    let pathEnter = path
								.enter().append('path')
  							.attr('d',pathGenerator)
    						.attr('class','boundary')
    						.style("fill", d => {
      						return myColor(ColorValue(d),min+comp,max-comp);
								}).on("mouseover", d => onMouseOver(d))
    							.on("mouseout", function(d) {   
            				tooltip.transition()    
            				.duration(500)    
            				.style("opacity", 0); 
          		});
  //text over polygon
   let textLabel = g.selectAll("text").data(geojson)
    .enter().append("text")
    .text(d =>{
   return `${TextValue(d)}(${ColorValue(d)})`;
   })
    .attr("x", function(d){
        return pathGenerator.centroid(d)[0];
    })
    .attr("y", function(d){
        return  pathGenerator.centroid(d)[1];
    })
    .attr("text-anchor","middle")
    .attr("font-family", "sans-serif");
    
      if(level === 0 && direction === 1){
       textLabel.attr('font-size','10pt');
      }else if(level === 1 && direction === 1){
      	textLabel.attr('font-size','6pt');
      }else if(level === 2 && direction === 1){
      	textLabel.attr('font-size','4pt');
      }else if(level === 2 && direction === 0){
      	textLabel.attr('font-size','6pt');
      }else if(level === 1 && direction === 0){
      	textLabel.attr('font-size','10pt');
      }
    
    //update slider color
     const fillSlider = () =>{
  		leftX2 = +d3.select('line.track-fill').attr("x1")-15;
  		d3.select('line.leftcolor').attr('x2',leftX2)
     };
    //when slider move
    sliderRange .on('onchange', val => {
    fillSlider();
    d3.select('p#value-range').text(val.map(d3.format('.1%')).join('-'));
      let low = (val[0]*100).toFixed(2);
      let high = (val[1]*100).toFixed(2);
			pathEnter.transition().duration(transitionDuration).style("fill", function(d) {
      	return myColor(ColorValue(d),low,high);
				})
    })
    
    const updateviz = selectedCat =>{
      let updatedCat;
    	switch(selectedCat){
        case 1: updatedCat = 'Aneamic Women (%)';
          				ColorValue = d => d.properties.prnt_anwmic_wmn;break;
        case 2:	updatedCat = 'Tenatus Completed (%)';
          				ColorValue = d => d.properties.prnt_tenatus_cmpltd;break;
        case 3:	updatedCat = 'Women had atleast 1 ANC visit by delivery (%)';
          				ColorValue = d => d.properties.prnt_wmn_1_anc_vst_dlvry;break;
        case 4:	updatedCat = 'Women had atleast 4 ANC visit by delivery (%)';
          				ColorValue = d => d.properties.prnt_wmn_4_anc_vst_dlvry;break;
        case 5:	updatedCat = 'Women Resting During Pregnancy (%)';
          				ColorValue = d => d.properties.prnt_wmn_rstg_drg_prgncy;break;
        case 6:	updatedCat = 'Women Eating Extra Meal During Pregnancy (%)';
          				ColorValue = d => d.properties.prnt_wmn_etg_xtr_ml_drng_prgncy;break;
        case 7:	updatedCat = 'Trimester 3 women counselled on immediate breastfeeding (%)';
          				ColorValue = d => d.properties.prnt_trmstr_3wmn_cnsld_imdtbf;break;
        
      }
      	// updateCategory(updatedCat);
        min = d3.min(geojson,ColorValue);
        max = d3.max(geojson,ColorValue);
        comp = (max - min)/3;
     	pathEnter.transition().duration(transitionDuration).style("fill", function(d) {
      	return myColor(ColorValue(d),min+comp,max-comp);
				})
      	
      

      
      
        textLabel.text(d =>{
   return `${TextValue(d)}(${ColorValue(d)})`;
   }).exit().remove();
    }
    


        $('.drop-category a').click(function(){
            let selCat = $(this).text();
            let val;
            switch(selCat){
                case "Aneamic Women (%)":val=1;break;
                case "Tenatus Completed (%)":val=2;break;
                case "Women had atleast 1 ANC visit by delivery (%)":val=3;break;
                case "Women had atleast 4 ANC visit by delivery (%)":val=4;break;
                case "Women Resting During Pregnancy (%)":val=5;break;
                case "Women Eating Extra Meal During Pregnancy (%)":val=6;break;
                case "Trimester 3 women counselled on immediate breastfeeding (%)":val=7;break;

            }
            updateviz(val);
            updatetable(val);
        })



  //zoomToBoundingBox
  const zoomToBoundingBox = d => {
  let bounds = pathGenerator.bounds(d),
      dx = bounds[1][0] - bounds[0][0],
      dy = bounds[1][1] - bounds[0][1],
      x = (bounds[0][0] + bounds[1][0]) / 2,
      y = (bounds[0][1] + bounds[1][1]) / 2,
      scale = Math.max(1, Math.min(8, 0.9 / Math.max(dx / width, dy / height))),
      translate = [width / 2 - scale * x, height / 2 - scale * y];
    svg.transition().duration(transitionDuration).call(
  	zzoom.transform, d3.zoomIdentity.translate(translate[0],translate[1]).scale(scale)
    ); 
  }
  //selectmap
const selectedSubFeature = (geojson,location) => {
  		let selection = [];
  		let geomType;
  		
  		geojson.forEach( sel =>{
        if(level === 1){
          if (sel.properties.Block === location){
              selection.push(sel);
          }
      	}else if(level === 2){
        if (sel.properties.Project === location){
              selection.push(sel);
          }
        }
      
      });
  		return selection;
}

const selectedSubData = (csv,location) =>{
		let selection = [];
		csv.forEach( sel =>{
      if(level === 1){
      	if(sel.block_n == location){
      		selection.push(sel);
      	}	
      }else if(level === 2){
      	if(sel.project_n == location){
      		selection.push(sel);
      	}	
      }
    
    }) 
  return selection;
}
  // clicked
	const clicked = d =>{
  level++;
  direction = 1;
	zoomToBoundingBox(d);
  let clickedLocation;
  if(level === 1){
  	clickedLocation = d.properties.Block;
  }else if(level === 2){
     clickedLocation = d.properties.Project;      
  }
    levelLocation.push(clickedLocation);

  let selectedJSON,selectedData;
  switch(month_hack){
    case 'aug': if(level === 1){
    							selectedJSON = project.Aug;
      						selectedData = projectData.Aug;
    						}else if(level === 2){
                	selectedJSON = beat.Aug;
      						selectedData = beatData.Aug;
                }
      					break;
 		case 'sep': if(level === 1){
    							selectedJSON = project.Sep;
      						selectedData = projectData.Sep;
    						}else if(level === 2){
                	selectedJSON = beat.Sep;
      						selectedData = beatData.Sep;
                }
      					break;
   	case 'oct': if(level === 1){
    							selectedJSON = project.Oct;
      						selectedData = projectData.Oct;
    						}else if(level === 2){
                	selectedJSON = beat.Oct;
      						selectedData = beatData.Oct;
                }
      					break;
  }
	let selectedjson = selectedSubFeature(selectedJSON,clickedLocation);
  let selecteddata = selectedSubData(selectedData,clickedLocation);
	g.selectAll("*").remove();
  rowEnter.selectAll('*').remove();
  tooltip.remove();
	makemap(selectedjson,selecteddata)
	}
  pathEnter.on('click',clicked)
    
//makeTable
    let tbdata = []
    let LocationValue = d => d.Block
    let PercentageValue = d => d.prnt_anwmic_wmn
    let ActualValue = d => d.no_anemic_wmn
    tdata.forEach(d =>{
      let temp = {};
      if(level === 0 && direction == 1){
            LocationValue = d => d.block_n;
      }else if(level === 1 && direction == 1){
            LocationValue = d => d.project_n;
      }else if(level === 2 && direction == 1){
            LocationValue = d => d.beat_n;
      }else if(level ===2 && direction ==0){
      			LocationValue = d => d.project_n;
      }else if(level === 1 && direction ==0){
            LocationValue = d => d.block_n;
      }
      
      temp['Location'] = LocationValue(d);
      temp['Percentage'] = PercentageValue(d);
      temp['Actual Number'] = ActualValue(d);
    	tbdata.push(temp);
    });
    let percentageColor = d3.scaleSequential().domain([d3.max(tdata,PercentageValue),d3.min(tdata,PercentageValue)])
            .interpolator(d3.interpolateRdYlGn);
    let actualColor = d3.scaleSequential().domain([d3.max(tdata,ActualValue),d3.min(tdata,ActualValue)])
            .interpolator(d3.interpolateRdYlGn);

    
		let rowEnter =  row.data(tbdata).enter().append('tr');
    let td = rowEnter.selectAll('td')
    						.data(d=> {
		    					return headerName.map(k => {
		    						return { 'value': d[k], 'name': k}
		    					});
		    				}).enter()
            		.append('td')
    					.text(d=>d.value).attr('align','center')
    						.style('background-color',d=>fillCellColor(d,percentageColor,actualColor));
    
  const updatetable = selCat =>{
    rowEnter.selectAll('*').remove();
  	switch(selCat){
        case 1: PercentageValue = d => d.prnt_anwmic_wmn;
  				ActualValue = d => d.no_anemic_wmn;
        		break;
        case 2: PercentageValue = d => d.prnt_tenatus_cmpltd;
  				ActualValue = d => d.no_tenatus_cmpltd;
        		break;
        case 3:	PercentageValue = d => d.prnt_wmn_1_anc_vst_dlvry;
        		ActualValue = d => d.no_wmn_1_anc_vst_dlvry;
        		break;
        case 4:	PercentageValue = d => d.prnt_wmn_4_anc_vst_dlvry;
             	ActualValue = d => d.no_wmn_4_anc_vst_dlvry;
        				break;
        case 5:	PercentageValue = d => d.prnt_wmn_rstg_drg_prgncy;
                ActualValue = d => d.no_wmn_rstg_drg_prgncy;
                        break;
        case 6:	PercentageValue = d => d.prnt_wmn_etg_xtr_ml_drng_prgncy;
                ActualValue = d => d.no_wmn_etg_xtr_ml_drg_prgncy;
          			break;
        case 7:	PercentageValue = d => d.prnt_trmstr_3wmn_cnsld_imdtbf;
                ActualValue = d => d.no_trmstr_3wmn_cnsld_imdtbf;
       					break;
    }
    let newtbdata = []
      if(level === 0){
            LocationValue = d => d.block_n;
      }else if(level === 1){
            LocationValue = d => d.project_n;
      }else if(level === 2){
            LocationValue = d => d.beat_n;
      }
    tdata.forEach(d =>{
      let temp = {};
      temp['Location'] = LocationValue(d);
      temp['Percentage'] = PercentageValue(d);
      temp['Actual Number'] = ActualValue(d);
    	newtbdata.push(temp);
    });
    
        let percentageColor = d3.scaleSequential().domain([d3.max(tdata,PercentageValue),d3.min(tdata,PercentageValue)])
            .interpolator(d3.interpolateRdYlGn);
    let actualColor = d3.scaleSequential().domain([d3.max(tdata,ActualValue),d3.min(tdata,ActualValue)])
            .interpolator(d3.interpolateRdYlGn);
    
   rowEnter = row.data(newtbdata).enter().append('tr');
    
    let td = rowEnter.selectAll('td')
    						.data(d=> {
		    					return headerName.map(k => {
		    						return { 'value': d[k], 'name': k}
		    					});
		    				}).enter()
            		.append('td')
    					.text(d=>d.value).attr('align','center')
    						.style('background-color',d=>fillCellColor(d,percentageColor,actualColor));
    
  
  }
  const selectedSubFeatureBack = (geojson,location) =>{
   
    let selection = []

    geojson.forEach( sel =>{
      if(level === 2){
        if (sel.properties.Block === location){
            selection.push(sel);
        }
      }

    });
    return selection;

  }
  
  const selectedSubDataBack = (csv,location) =>{
  let selection = [];
  csv.forEach( sel =>{
    if(level === 2){
      if(sel.block_n == location){
        selection.push(sel);
      }	
    }

  }) 
return selection;
}
 d3.select('.back-button').on('click',function(){
   direction = 0;
  rowEnter.selectAll("*").remove();
  g.selectAll("*").remove();
   svg.transition().duration(transitionDuration).call(
     zzoom.transform, d3.zoomIdentity );
  // updateCategory('Aneamic Women (%)');
  let LocationMonth,LocationDataMonth;
  if(level === 1 || level === 0){
    	switch(month_hack){
        case 'aug':	LocationMonth = block.Aug;
          					LocationDataMonth = blockData.Aug;
          					break;
      	case 'sep':	LocationMonth = block.Sep;
          					LocationDataMonth = blockData.Sep;
          					break;
        case 'oct':	LocationMonth = block.Oct;
          					LocationDataMonth = blockData.Oct;
          					break;
      }
    	
    makemap(LocationMonth,LocationDataMonth);

  }else if(level === 2){
    levelLocation.pop();
    let loc = levelLocation.pop()
    switch(month_hack){
        case 'aug':	LocationMonth = project.Aug;
          					LocationDataMonth = projectData.Aug;
          					break;
      	case 'sep':	LocationMonth = project.Sep;
          					LocationDataMonth = projectData.Sep;
          					break;
        case 'oct':	LocationMonth = project.Oct;
          					LocationDataMonth = projectData.Oct;
          					break;
      }
    let selectedjson = selectedSubFeatureBack(LocationMonth,loc);
    let selectedcsv = selectedSubDataBack(LocationDataMonth,loc);
    makemap(selectedjson,selectedcsv);
  }
   if(level > 0)
   level-- ;
})
  const selectGeoJSON = (val,allMonthGeoJSONData) =>{
  	switch(val){
    	case 'aug': return allMonthGeoJSONData.Aug;break;
      case 'sep': return allMonthGeoJSONData.Sep;break;
     	case 'oct': return allMonthGeoJSONData.Oct;break;
    }
  }
  const selectCSV = (val,allMonthCSVData) =>{
  	switch(val){
    	case 'aug': return allMonthCSVData.Aug;break;
      case 'sep': return allMonthCSVData.Sep;break;
     	case 'oct': return allMonthCSVData.Oct;break;
    }
  }
  


  $(".drop-month a").click(function(){
    $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="selectedMonth"></span>');
	$(this).parents(".dropdown").find('.btn').val($(this).data('value'));
      var val = $(this).text();
      if(val === 'August'){
        month_hack = 'aug'
      }else if(val === 'September'){
        month_hack = 'sep'
      }else if(val === 'October'){
        month_hack = 'oct'
      }
        let monthjson = selectGeoJSON(month_hack,block);
    	let monthdata = selectCSV(month_hack,blockData);
    	level = 0;
		g.selectAll("*").remove();
    	rowEnter.selectAll("*").remove();
        svg.transition().duration(transitionDuration).call( zzoom.transform, d3.zoomIdentity );
    	// updateMonth();
      	makemap(monthjson,monthdata);
  })
}

  

  
  //initial map
  makemap(block.Aug,blockData.Aug)
}

$(function(){
  //bind event
  $(".drop-month a").click(function(){
    var valMonth = $(this).text();
    $(this).parents('.dropdown').find('.dropdown-toggle').html(valMonth + ' <span class="selectedMonth"></span>');
  });
   $(".drop-category a").click(function(){
    var valCategory = $(this).text();
	// var displayVal = valCategory.substring(0, valCategory.length-1);
  
  // document.getElementById('barTitle').innerHTML= displayVal+" Measurement Efficiency";
    $(this).parents('.dropdown').find('.dropdown-toggle').html(valCategory + ' <span class="selectedCategory"></span>');
  });

  //trigger event
  $('.drop-month a').first().trigger('click');
  $(".drop-category a").first().trigger('click');
  
});

async function fetchGeoJSON(){
  let geoJSONBundle = {}
	let blockJSON = await d3.json("{% static 'data/block.json'%}");
  let projectJSON = await d3.json("{% static 'data/project.json'%}");
  let beatJSON = await d3.json("{% static 'data/beat.json'%}");
  geoJSONBundle.blockJSON = blockJSON.features;
  geoJSONBundle.projectJSON = projectJSON.features;
  geoJSONBundle.beatJSON = beatJSON.features;
  console.log(geoJSONBundle);
  return geoJSONBundle;
}

const monthWiseCSV = (data) =>{
	let month = {'Aug':[],'Sep':[],'Oct':[]}
  data.forEach(d=>{
  let temp = {};
  if(d.project_n)
    temp.project_n = d.project_n
	if(d.beat_n)
    temp.beat_n = d.beat_n
    
  temp.block_n = d.block_n 
  temp.no_anemic_wmn = +d.no_anemic_wmn
  temp.no_tenatus_cmpltd = +d.no_tenatus_cmpltd
  temp.no_wmn_1_anc_vst_dlvry = +d.no_wmn_1_anc_vst_dlvry
  temp.no_wmn_4_anc_vst_dlvry = +d.no_wmn_4_anc_vst_dlvry
  temp.no_wmn_rstg_drg_prgncy = +d.no_wmn_rstg_drg_prgncy
  temp.no_wmn_etg_xtr_ml_drg_prgncy = +d.no_wmn_etg_xtr_ml_drg_prgncy
  temp.no_trmstr_3wmn_cnsld_imdtbf = +d.no_trmstr_3wmn_cnsld_imdtbf
  temp.prnt_anwmic_wmn = +d.prnt_anwmic_wmn
  temp.prnt_tenatus_cmpltd = +d.prnt_tenatus_cmpltd
  temp.prnt_wmn_1_anc_vst_dlvry = +d.prnt_wmn_1_anc_vst_dlvry
  temp.prnt_wmn_4_anc_vst_dlvry = +d.prnt_wmn_4_anc_vst_dlvry
  temp.prnt_wmn_rstg_drg_prgncy = +d.prnt_wmn_rstg_drg_prgncy
  temp.prnt_wmn_etg_xtr_ml_drng_prgncy = +d.prnt_wmn_etg_xtr_ml_drng_prgncy
  temp.prnt_trmstr_3wmn_cnsld_imdtbf = +d.prnt_trmstr_3wmn_cnsld_imdtbf
  month[d.month_n].push(temp)
  })
return month;
}
const addProperty = (data,geojson) =>{
  let x,y;
	for (let i = 0; i < data.length; i++) {
  	for (let j = 0; j < geojson.length; j++){
      if(geojson[j].properties.beat_na){
      	x = data[i].beat_n;
        y = geojson[j].properties.beat_na
      }
      else if(geojson[j].properties.Project){
      	x = data[i].project_n;
    		y = geojson[j].properties.Project;
      }else{
      	x = data[i].block_n;
        y= geojson[j].properties.Block;
    }
      
      if(x == y){
			geojson[j].properties.no_anemic_wmn = data[i].no_anemic_wmn 
            geojson[j].properties.no_tenatus_cmpltd = data[i].no_tenatus_cmpltd	
            geojson[j].properties.no_wmn_1_anc_vst_dlvry = data[i].no_wmn_1_anc_vst_dlvry
            geojson[j].properties.no_wmn_4_anc_vst_dlvry = data[i].no_wmn_4_anc_vst_dlvry
            geojson[j].properties.no_wmn_rstg_drg_prgncy = data[i].no_wmn_rstg_drg_prgncy
			geojson[j].properties.no_wmn_etg_xtr_ml_drg_prgncy = data[i].no_wmn_etg_xtr_ml_drg_prgncy 
			geojson[j].properties.no_trmstr_3wmn_cnsld_imdtbf = data[i].no_trmstr_3wmn_cnsld_imdtbf 
            geojson[j].properties.prnt_anwmic_wmn = data[i].prnt_anwmic_wmn
            geojson[j].properties.prnt_tenatus_cmpltd = data[i].prnt_tenatus_cmpltd
            geojson[j].properties.prnt_wmn_1_anc_vst_dlvry = data[i].prnt_wmn_1_anc_vst_dlvry
            geojson[j].properties.prnt_wmn_4_anc_vst_dlvry = data[i].prnt_wmn_4_anc_vst_dlvry
            geojson[j].properties.prnt_wmn_rstg_drg_prgncy = data[i].prnt_wmn_rstg_drg_prgncy
            geojson[j].properties.prnt_wmn_etg_xtr_ml_drng_prgncy = data[i].prnt_wmn_etg_xtr_ml_drng_prgncy
            geojson[j].properties.prnt_trmstr_3wmn_cnsld_imdtbf = data[i].prnt_trmstr_3wmn_cnsld_imdtbf

      }
      
    }
  }
}
async function mergeData(geoJSON){
  //merging block data
  let blockGeoJSON = geoJSON.blockJSON;
  let blockCSV = {{ context.jsonBlock|safe }};
  let b = [];
  blockCSV.forEach(e =>{
    b.push(e.fields);
  })
  blockCSV = b;
  let blockMonthWiseCSV = monthWiseCSV(blockCSV);

  let blockGeoJSONAug = JSON.parse(JSON.stringify(blockGeoJSON));
  let blockGeoJSONSep = JSON.parse(JSON.stringify(blockGeoJSON));
  let blockGeoJSONOct = JSON.parse(JSON.stringify(blockGeoJSON));
  //call by reference so need to return
  addProperty(blockMonthWiseCSV.Aug,blockGeoJSONAug);
  addProperty(blockMonthWiseCSV.Sep,blockGeoJSONSep);
  addProperty(blockMonthWiseCSV.Oct,blockGeoJSONOct);
	const mergedBlock = {'Aug':blockGeoJSONAug,'Sep':blockGeoJSONSep,'Oct':blockGeoJSONOct}
  //merging project data
  let projectGeoJSON = geoJSON.projectJSON;
	let projectCSV = {{ context.jsonProject|safe }};
    let p = [];
    projectCSV.forEach(e =>{
    p.push(e.fields);
  })
  projectCSV = p;
  let projectMonthWiseCSV = monthWiseCSV(projectCSV);
  let projectGeoJSONAug = JSON.parse(JSON.stringify(projectGeoJSON));
  let projectGeoJSONSep = JSON.parse(JSON.stringify(projectGeoJSON));
  let projectGeoJSONOct = JSON.parse(JSON.stringify(projectGeoJSON));
  addProperty(projectMonthWiseCSV.Aug,projectGeoJSONAug);
  addProperty(projectMonthWiseCSV.Sep,projectGeoJSONSep);
  addProperty(projectMonthWiseCSV.Oct,projectGeoJSONOct);
  const mergedProject = {'Aug':projectGeoJSONAug,'Sep':projectGeoJSONSep,'Oct':projectGeoJSONOct}
  
  let beatGeoJSON = geoJSON.beatJSON;
	let beatCSV = {{ context.jsonBeat|safe }};
    let bt = [];
    beatCSV.forEach(e =>{
    bt.push(e.fields);
  })
  beatCSV = bt;

  let beatMonthWiseCSV = monthWiseCSV(beatCSV);
  let beatGeoJSONAug = JSON.parse(JSON.stringify(beatGeoJSON));
  let beatGeoJSONSep = JSON.parse(JSON.stringify(beatGeoJSON));
  let beatGeoJSONOct = JSON.parse(JSON.stringify(beatGeoJSON));
  addProperty(beatMonthWiseCSV.Aug,beatGeoJSONAug);
  addProperty(beatMonthWiseCSV.Sep,beatGeoJSONSep);
  addProperty(beatMonthWiseCSV.Oct,beatGeoJSONOct);
  
  const mergedBeat = {'Aug':beatGeoJSONAug,'Sep':beatGeoJSONSep,'Oct':beatGeoJSONOct}
  render(mergedBlock,mergedProject,mergedBeat,blockMonthWiseCSV,projectMonthWiseCSV,beatMonthWiseCSV)
}
fetchGeoJSON().then(mergeData)

const sliderRange = d3
    .sliderBottom()
    .min(0)
    .max(.999)
    .width(400)
    .tickFormat(d3.format('.1%'))
    .ticks(5)
    .default([.25, .50])
    .fill('yellow')
    .handle(d3.symbol().type(d3.symbolCircle).size(550)());

const gRange = d3
    .select('div#slider-range')
    .append('svg')
    .attr('width', 500)
    .attr('height', 100)
    .append('g')
    .attr('transform', 'translate(30,30)')
    .attr('class','slider-lebel');
  
gRange.call(sliderRange);

let leftX1 = +d3.select('line.track-inset').attr("x1");
let leftX2 = +d3.select('line.track-fill').attr("x1")-15;
d3.select('g.slider').append('line').attr('class','leftcolor')
  .attr('x1',leftX1).attr('x2',leftX2)
	.attr('stroke-width',4).attr('stroke-linecap','round');

d3.select('line.track-fill').attr('stroke','yellow')
d3.select('line.leftcolor').attr('stroke','green')
d3.select('line.track-inset').attr('stroke','red')


  </script>
{% endblock %}
