{% extends 'kyd_dashboard/kyd_base.html' %}

{% load static %}

{% block feature_css %}

  <link rel="stylesheet" href="{% static 'kyd_dashboard/css/index.css' %}" >

  <style>

    

  </style>

{% endblock %}

{% block feature %}

<div class='heading text-dark mt-2 text-center'>Outcome Indicators</div>

<div class="row text-center" style="height: 100px;">

  <div class="col-12 bg-primary h-75 w-100" >

    <!-- select month -->

    <div class="dropdown" style="float: left; margin:20px; font-weight:bold">

      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        Select Month

		<span class="selectedMonth"></span>

      </button>

      <div class="dropdown-menu month" aria-labelledby="dropdownMenuButton">

        <a class="dropdown-item" href="#">August</a>

        <a class="dropdown-item" href="#">September</a>

        <a class="dropdown-item" href="#">October</a>

      </div>

    </div>

    <!-- select category -->

    <div class="dropdown" style="float: left; margin:20px"> 

      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        Select Category

        <span class="selectedCategory"></span>

      </button>

      <div class="dropdown-menu category" aria-labelledby="dropdownMenuButton">

        <a class="dropdown-item" href="#">Stunting(%)</a>

        <a class="dropdown-item" href="#">Wasting(%)</a>

        <a class="dropdown-item" href="#">Underweight(%)</a>

        <a class="dropdown-item" href="#">Low Birth Weight(%)</a>

      </div>



    </div>

    <button type="button" class="btn btn-info" style="float: left; margin:20px" onclick="location.href=`{% url 'feat1' %}`">Previous Feature</button>

    <button type="button" class="btn btn-info" style="float: left; margin:20px" onclick="location.href=`{% url 'feat3' %}`">Next Feature</button>



    

  </div>



    



  <div class="col-12 m-5">

    <svg width="1100" height="350"></svg>

  </div>



</div>







{% endblock %}





{% block feature_js %}



<script>

  const svg = d3.select('svg');

  const width = +svg.attr('width');

  const height = +svg.attr('height');

  const yScale = [];

  const xScale = [];



 

  const render = data =>{

      let yValue  = d => d.stunting;

      const xValue = d => d.block;

      const margin = {left:50,top:10 ,right:400,bottom:30};

      const innerWidth = width - margin.left - margin.right;

      const innerHeight = height - margin.top - margin.bottom;

  

      const yScale = d3.scaleLinear()

          .domain([100,0])

          .range([0,innerHeight]);

      

      const xScale = d3.scaleBand()

          .range([0,innerWidth])

          .padding(0.1);

      

      xScale.domain(data.map(xValue))

  

      

      const g = svg.append('g')

          .attr('transform', `translate(${margin.left}, ${margin.top})`);

  

      var myColor = d3.scaleSequential().domain([d3.min(data,yValue),d3.max(data,yValue)])

      .interpolator(d3.interpolateRdYlGn);

        //tooltip

  // Define the div for the tooltip

  // const onMouseOver = d =>{	

  //             div.transition().duration(200).style("opacity", .9);		

  //             div	.html(xValue(d)+"<br>"+yValue(d))

  //                 .style("left", d3.event.pageX + "px")

  //                 .style("top",  d3.event.pageY - 30 + "px");	

  //             }

  // var div = d3.select("body").append("div")	

  //     .attr("class", "tooltip")				

  //     .style("opacity", 1);

    

          var bars =   g.selectAll("rect").data(data)

          .enter().append('rect')

              .attr('x', d => xScale(d.block))

              .attr('y', d => yScale(yValue(d)))

              .attr('height',d => innerHeight - yScale(yValue(d)))

              .attr('width', 60)

              .attr("fill", d => myColor(yValue(d)))

          //       .on("mouseover", d => onMouseOver(d))					

          //     .on("mouseout", function(d) {		

          //     div.transition()		

          //         .duration(500)		

          //         .style("opacity", 0);

          // });

          

          // update new values

          var mytext = g.selectAll("text").data(data)

              .enter().append("text")

              .text(d => yValue(d))

              .attr('x', d => xScale(d.block)+12)

              .attr('y', d => yScale(yValue(d))-5)

              .attr("font-family", "sans-serif")

              .attr("font-size", "14px")

      		    .attr("font-weight", "bold")

              .attr("fill", "blue");

  

      var yaxis = g.append('g')

          .call(d3.axisLeft(yScale))

          .attr("font-size", "15px")

		    .attr("font-weight", "bold");

      

      var xaxis = g.append('g').call(d3.axisBottom(xScale))

          .attr('transform',`translate(0, ${innerHeight})`)

          .attr("font-size", "8x")

		    .attr("font-weight", "bold");

    

          makeviz = opt =>{

            let tansitionDuration = 1000;

            if(opt == 'Wasting(%)'){

              yValue  = d => d.wasting;

              data = sortData(data,'wasting');

            //   console.log('height');

            }else if (opt == 'Stunting(%)' ){

              yValue  = d => d.stunting; 

              data = sortData(data,'stunting');

            //   console.log('weight');

            }else if (opt == 'Underweight(%)' ){

              yValue  = d => d.underweight; 

              data = sortData(data,'underweight');

            //   console.log('weight');

            }else{

              data = sortData(data,'lbw');

              yValue  = d => d.lbw;

            }

        const xScale0 = xScale.domain(data.map(xValue)).copy();

  

        const yScale = d3.scaleLinear()

          .domain([100,0])

          .range([0,innerHeight]);



          var changColor = d3.scaleSequential().domain([d3.max(data,yValue),d3.min(data,yValue)])

            .interpolator(d3.interpolateRdYlGn);

              

          bars.transition().duration(tansitionDuration)

              .attr('y', d => yScale(yValue(d)))

              .attr('x', d => xScale0(d.block))

              .attr('height',d => innerHeight - yScale(yValue(d)))

              .attr("fill", d => changColor(yValue(d)))

  

  

          // Remove old ones

          bars.exit().remove();

            

            

            //text update

            mytext.transition().duration(tansitionDuration)

            .text(d => yValue(d))

              .attr('y', d => yScale(yValue(d))-5)

              .attr('x', d => xScale0(d.block)+12)

  

            mytext.exit().remove();

            

            // y axis update

            

            yaxis.transition().duration(tansitionDuration)

          .call(d3.axisLeft(yScale));

            

            // x axis update

            xaxis.transition().duration(tansitionDuration)

          .call(d3.axisBottom(xScale));

  

            

          }   

  

  const dropdownChange = () =>{

    var sel = document.getElementById('opt');

    val = document.getElementById("opt").value

  }

  makeviz("Stunting(%)");

  

  $(".category a").click(function(){

  $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="selectedCategory"></span>');

  $(this).parents(".dropdown").find('.btn').val($(this).data('value'));

	var valCategory = $(this).text();	

	

  makeviz(valCategory);

});

  



  $(".drop-month a").click(function(){

      var val = $(this).text();

	  $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="selectedCategory"></span>');

	$(this).parents(".dropdown").find('.btn').val($(this).data('value'));

          

  })

  }

  





  

  const monthwise = (data) => {

  data.forEach(d => {

    d.wasting = +d.wasting;

                d.stunting = +d.stunting;

                d.underweight = +d.underweight;

                d.lbw = +d.lbw;

      });

      var aproperty = [];

      var sproperty = [];

      var oproperty = [];

    data.forEach(d =>{

      var temp = {};

      temp['block'] = d.block;

      temp['wasting'] = d.wasting;

      temp['stunting'] = d.stunting;

      temp['underweight'] = d.underweight;

      temp['lbw'] = d.lbw;

      if(d.month == "Aug"){

        aproperty.push(temp);

      }else if (d.month == "Sep"){

        sproperty.push(temp);

      }else if (d.month == "Oct"){

        oproperty.push(temp);

      }

      

    })

  

  var listdata = [

    aproperty,sproperty,oproperty

  ]

  return listdata;

  }

  

  const selectData =  (val,monthwiseData) =>{

  if(val == "August"){

        monthwiseData[0] = sortData(monthwiseData[0],'stunting');

        return monthwiseData[0];

    }else if (val == "September"){

        monthwiseData[1] = sortData(monthwiseData[1],'stunting');

        return monthwiseData[1];

    }else if (val == 'October'){

        monthwiseData[2] = sortData(monthwiseData[2],'stunting');

        return monthwiseData[2]       

      }

  }

  const sortData = (data,parameter) =>{

  sortedData = data.slice().sort((a, b) => d3.descending(a[parameter], b[parameter]))

  return sortedData;

  }

  

  

  

  

  //

  data_from_django = {{ oi_data|safe }};

  var data = []

  data_from_django.forEach(element => {

    data.push(element.fields);

  });

  monthwiseData = monthwise(data);

  

  d3.select("#monthdropdown")

  .on("change", () =>{

        val = document.getElementById("monthdropdown").value

        mydata = selectData(val,monthwiseData);

        svg.selectAll("*").remove();

        render(mydata);

    });

  

    

    $(".month a").click(function(){

	$(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="selectedMonth"></span>');

	$(this).parents(".dropdown").find('.btn').val($(this).data('value'));

     var valMonth = $(this).text();

      mydata = selectData(valMonth,monthwiseData);

      // tableData = tbData(valMonth, monthwiseData);

      svg.selectAll("*").remove();

      render(mydata);

      

});

$(function(){

  //bind event

  $(".month a").click(function(){

    var valMonth = $(this).text();

    $(this).parents('.dropdown').find('.dropdown-toggle').html(valMonth + ' <span class="selectedMonth"></span>');

  });

   $(".category a").click(function(){

    var valCategory = $(this).text();

	// var displayVal = valCategory.substring(0, valCategory.length-1);

  

  // document.getElementById('barTitle').innerHTML= displayVal+" Measurement Efficiency";

  //   $(this).parents('.dropdown').find('.dropdown-toggle').html(valCategory + ' <span class="selectedCategory"></span>');

  });



  //trigger event

  $('.month a').first().trigger('click');

  $(".category a").first().trigger('click');

  

});



 



  augData = monthwiseData[0];

  sortedData = sortData(augData,'Stunting');

  render(sortedData); 

  </script>

{% endblock %}
