{% extends 'kyd_dashboard/kyd_base.html' %}
{% load static %}
{% block feature_css %}
  <link rel="stylesheet" href="{% static 'kyd_dashboard/css/index.css' %}" >
  <style>
    .table { 
		width: 90%; 
		 
    padding: 1000px;
    border-radius: 1px;
	}
	
	th { 
		background: skyblue; 
        font-size: 15px;
		font-weight: bold; 
		cursor: s-resize;
		background-repeat: no-repeat;
        background-position: 3% center;
        text-align: left;
        width: 10%;
        text-align: center;
        
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: right;
    width: 10%;
    /* font-weight: bold; */
	}
    
    th:nth-child(odd) {
    background-color: #f2f2f2;
    }
    

    
  </style>
{% endblock %}
{% block feature %}
<div class='heading text-dark mt-2 text-center'>District Profile</div>
<div class="row text-center" style="height: 100px;">
  <div class="col-12 bg-info h-75 w-100" >
    <!-- select month -->
    <div class="dropdown" style="float: left; margin:20px">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Month
        <span class="selectedMonth"></span>
      </button>
      <div class="dropdown-menu month" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">August</a>
        <a class="dropdown-item" href="#">September</a>
        <a class="dropdown-item" href="#">October</a>
      </div>
    </div>
    
    <button type="button" class="btn btn-info" style="float: left; margin:20px" onclick="location.href=`{% url 'feat3'%}`">Previous Feature</button>
    <button type="button" class="btn btn-info" style="float: left; margin:20px" onclick="location.href=`{% url 'feat6'%}`">Next Feature</button>


    
  </div>

  <div class='col-12 heading text-dark mt-2 text-center'>Outcome Indicators</div>
    <!-- <h3 style="margin-left: 700px; font-style: italic; font-weight: bold;">Outcome Indicators</h3>
  </div> -->
  <div style="color:black;" id="table" class="row h-55 w-90 ">               
</div>


<div class='col-12 heading text-dark mt-2 text-center'>Performance Indicators</div>
    <!-- <h3 style="font-style: italic; font-weight: bold;">Performance Indicators</h3>
</div> -->

<div style="color:black" id="table1" class="row h-15 w-60 bg-skyblue justify-content-right  ">
    
</div>
</div>



{% endblock %}


{% block feature_js %}

<script>
  const render = data =>{
    const dropdownChange = () =>{
    var sel = document.getElementById('opt');
    val = document.getElementById("opt").value
  }
//   makeviz("Stunting(%)");
//   // $(".category a").click(function(){
//   // var val = $(this).text();
//   // makeviz(val);
//   $(".category a").click(function(){
//   $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="selectedCategory"></span>');
//  $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
// 	var valCategory = $(this).text();	
// 	// var displayVal = valCategory.substring(0, valCategory.length-1);
// 	// console.log(displayVal);
// 	// if(displayVal== "Height+Weight ")
// 	// displayVal = displayVal.replace("Height+Weight", "Height and Weight");
// 	// document.getElementById('barTitle').innerHTML=displayVal+" Measurement Efficiency";
//   makeviz(valCategory);

//info-div

  $(".drop-month a").click(function(){
      var val = $(this).text();
	  $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="selectedCategory"></span>');
	$(this).parents(".dropdown").find('.btn').val($(this).data('value'));
      if(val === 'August'){
        month_hack = 'aug'
      }else if(val === 'September'){
        month_hack = 'sep'
      }else if(val === 'October'){
        month_hack = 'oct'
      }
    //     let monthjson = selectGeoJSON(month_hack,block);
    // 	let monthdata = selectCSV(month_hack,blockData);
    // 	level = 0;
		// g.selectAll("*").remove();
    // 	rowEnter.selectAll("*").remove();
    //     svg.transition().duration(transitionDuration).call( zzoom.transform, d3.zoomIdentity );
    // 	updateMonth();
    //   	makemap(monthjson,monthdata);
  }) 
}
const monthwise = (data) => {
//  console.log(data)
    
    data.forEach(d => {
        d.district = d.district;
        d.mdrtly_stntd = +d.mdrtly_stntd;
        d.svrly_stntd = +d.svrly_stntd;
        d.svrly_wstd = +d.svrly_wstd;
        d.mdrtly_wstd = +d.mdrtly_wstd;
        d.svrly_uw = +d.svrly_uw;
        d.mdrtly_uw = +d.mdrtly_uw;
        d.nb_lbw = +d.nb_lbw;
        d.wasting_percent = d.wasting_percent;
    });
    // console.log(data);
     var aproperty = [];
     var sproperty = [];
     var oproperty = [];
     data.forEach(d=>{
         var temp = {}
         temp['district_n'] = d.district;
         temp['nb_lbw'] = d.nb_lbw;
         temp['wasting_percent'] = d.wasting_percent;
         temp['stunting_percent'] = d.stunting_percent;
         temp['underweight_percent'] = d.underweight_percent;
         temp['low_birth_weight_percent'] = d.low_birth_weight_percent;
         temp['stntd_chld'] = d.stntd_chld;
         temp['wstd_chld'] = d.wstd_chld;
         temp['uw_chld'] = d.uw_chld;
         temp['prnt_anwmic_wmn'] = d.prnt_anwmic_wmn;
         temp['prnt_chld_bf_at_birth']= d.prnt_chld_bf_at_birth;
         temp['prnt_wmn_etg_xtr_ml_drng_prgncy']= d.prnt_wmn_etg_xtr_ml_drng_prgncy;
         temp['prnt_chld_excly_bf'] =d.prnt_chld_excly_bf;
         temp['prnt_4_anc_vst_dlvry'] = d.prnt_4_anc_vst_dlvry;
         temp['prnt_chld_rcvg_cf_wid_adq_dt_dvsty']=d.prnt_chld_rcvg_cf_wid_adq_dt_dvsty;
         temp['prnt_chld_cf_wid_adq_dt_qnty']=d.prnt_chld_cf_wid_adq_dt_qnty;
         temp['per_no_chld_cf_wid_appr_hndwhg_bfr_fdg']=d.per_no_chld_cf_wid_appr_hndwhg_bfr_fdg;
         temp['prnt_trmstr_3wmn_cnsld_imdtbf']=d.prnt_trmstr_3wmn_cnsld_imdtbf;
         temp['prnt_wmn_rstg_drg_prgncy']=d.prnt_wmn_rstg_drg_prgncy;
         temp['prnt_child_6to8mnths_intd_cf']= d.prnt_child_6to8mnths_intd_cf;
         temp['prnt_child_6to24mnths_intd_cf'] = d.prnt_child_6to24mnths_intd_cf;
         temp['prnt_child_1yr_cmpltd_immunzt'] =d.prnt_child_1yr_cmpltd_immunzt;
         if(d.month == "Aug"){
             aproperty.push(temp);
     }else if (d.month == "Sep"){
         sproperty.push(temp);
     }else if (d.month == "Oct"){
         oproperty.push(temp);
     }
    //  console.log( data)
 })

 var listdata = [aproperty,sproperty,oproperty]
 // console.log(listdata)

 return listdata;
 }
 
  
  
  
  /////
  data_from_django = {{ pi_data|safe }};
  var data = []
  data_from_django.forEach(element => {
    data.push(element.fields);
  });
  console.log(data);
  monthwiseData = monthwise(data);
  
  d3.select("#monthdropdown")
  .on("change", () =>{
        let val = document.getElementById("monthdropdown").value
        console.log(val);
        let tableData = tbData(val, monthwiseData);
        svg.selectAll("*").remove();
        console.log(tableData);
        render(tableData);
    });
  
    $(".month a").click(function(){
      var val = $(this).text();
      tableData = tbData(val, monthwiseData);
      // svg.selectAll("*").remove();
      console.log(tableData);
      render(tableData);
      

});
$(function(){
  //bind event
  $(".month a").click(function(){
    var valMonth = $(this).text();
    $(this).parents('.dropdown').find('.dropdown-toggle').html(valMonth + ' <span class="selectedMonth"></span>');
  });
  $('.month a').first().trigger('click');
  $(".category a").first().trigger('click');
  
});
  
  tables(monthwiseData[0]); 

  const tbData =  (val,monthwiseData) =>{
      console.log(monthwiseData);
        if(val == "August"){
          return [tables(monthwiseData[0])];
        }else if (val == "September"){
            return [tables(monthwiseData[1])];
        }else if (val == 'October'){
            return [tables(monthwiseData[2])];      
            }
            
        }

                


function tables(data){
// console.log(data);
$( ".hello" ).remove();
    $( ".hello1" ).remove();

   
var tbdata = [];
            
            data.forEach(d=>{
                var tbd = {}
                tbd['District/State'] = d.district_n;
                tbd['Stunted Childern'] = d.stntd_chld;
                tbd['Stunting Percent(%)'] = d.stunting_percent;
                tbd['Wasted Childern'] = d.wstd_chld;
                tbd['Wasting Percent(%)'] = d.wasting_percent;
                tbd['Underweight Childern'] = d.uw_chld;
                tbd['Underweight Percent(%)'] = d.underweight_percent;
                tbd['No. of Newborn with Low Birth Weight'] = d.nb_lbw;
                tbd['Low Birth Weight Percent(%)'] = d.low_birth_weight_percent;
               
               
                tbdata.push(tbd);
            });
        var table = d3.select('div#table').append('table').attr('class','hello');
          
        // console.log(tbData[0]);
		  var titles = d3.keys(tbdata[0]);
      
		  var headers = table.append('thead').append('tr')
		                   .selectAll('th')
		                   .data(titles).enter()
		                   .append('th')
		                   .text(function (d) {
			                    return d;
		                    });
		             
		 
		  var rows = table.append('tbody').selectAll('tr')
		               .data(tbdata).enter()
                       .append('tr');
                       
          rows.selectAll('td')
               
		    .data(function (d) {
		    	return titles.map(function (k) {
		    		return { 'value': d[k], 'name': k};
		    	});
		    }).enter()
            .append('td')
       
        .text(function (d) {
		    	return d.value;
            });


            var tbdata1 = [];
            
            data.forEach(d=>{
                var tbdt = {}
                tbdt['District/State'] = d.district_n;
                tbdt['Anemic women(%)'] = d.prnt_anwmic_wmn;
                tbdt['Pregnant Women had 4 ANC Visit(%)'] = d.prnt_4_anc_vst_dlvry;
                tbdt['Pregnant Women resting during Pregnancy(%)']=d.prnt_wmn_rstg_drg_prgncy;
                tbdt['Pregnant Women eating extra meal during Pregnancy(%)'] = d.prnt_wmn_etg_xtr_ml_drng_prgncy;
                tbdt['Pregnant Women Counselled for BF in Trimester(%)']=d.prnt_trmstr_3wmn_cnsld_imdtbf;
                tbdt['Children Breastfeed at Birth(%)'] = d.prnt_chld_bf_at_birth;
                tbdt['Children (6-8 months) initiated CF(%)']= d.prnt_child_6to8mnths_intd_cf;
                tbdt['Children (6-24 months) initiated CF(%)']= d.prnt_child_6to24mnths_intd_cf;
                tbdt['Children(0-6) exclusively Breastfed(%)'] = d.prnt_chld_excly_bf;
                tbdt['Children receiving CF with Diet Diversity(%)'] = d.prnt_chld_rcvg_cf_wid_adq_dt_dvsty;
                tbdt['Children receiving CF with Diet Quantity(%)'] = d.prnt_chld_cf_wid_adq_dt_qnty;
                tbdt['Children receiving CF with Appropriate Hand Washing(%)'] = d.per_no_chld_cf_wid_appr_hndwhg_bfr_fdg;
                tbdt['Children with 1 year completed Immunization(%)']= d.prnt_child_1yr_cmpltd_immunzt;

                tbdata1.push(tbdt);
            });
            // console.log(tbdata1)

            var table = d3.select('div#table1').append('table').attr('class','hello1');
          
          // console.log(tbData[0]);
            var titles = d3.keys(tbdata1[0]);
        
            var headers = table.append('thead').append('tr')
                             .selectAll('th')
                             .data(titles).enter()
                             .append('th')
                             .text(function (d) {
                                  return d;
                              });
                       
           
            var rows = table.append('tbody').selectAll('tr')
                         .data(tbdata1).enter()
                         .append('tr');
                         
            rows.selectAll('td')
                 
              .data(function (d) {
                  return titles.map(function (k) {
                      return { 'value': d[k], 'name': k};
                  });
              }).enter()
              .append('td')
         
          .text(function (d) {
                  return d.value;
              });
  

}

  </script>
{% endblock %}
