{% extends 'dashboard/dash_base.html' %}
{% load static %}
{% block feature_css %}
<link rel="stylesheet" href="{% static 'kyd_dashboard/css/index.css' %}">
<style>
  p {
    font-size: calc(40% + 0.5vw + 0.5vh);
    font-weight: bold;
  }

  .form-check-label {
    margin-top: 7px;
    font-size: calc(40% + vw + vh);
    padding-left: calc(10% + 0.2vw + 0.1vh);
    text-align: middle;
  }

  .form-check-input {
    width: calc(4% + 0.5vw + 0.7vh);
    height: calc(2.5% + 0.5vw + 0.5vh);
  }

  .upt-b {
    font-size: calc(35% + 0.5vw + 0.5vh);
  }

  .chart-container {
    position: relative;
    margin: auto;
    width: 75vw;
    height: 65vh;
    font-size: calc(100% + 0.5vw + 0.5vh);
  }
</style>

{% endblock %}

{% block feature %}

<script src="{% static 'kyd_dashboard/js/Chart.min.js' %}"></script>
<script src="{% static 'kyd_dashboard/js/d3-scale-radial.js' %}"></script>


<div class="row">
  <div class="col-12 h-75">
    <div class="heading text-center">Radar Diagram - Outcome Indicators
    </div>
  </div>
</div>

<div class="row text-center bg-info">
  <button type="button" class="btn btn-outline-dark m-1" onclick="location.href=`{% url 'f3' dist_name fy %}`">Previous
    Feature</button>
  <button type="button" class="btn btn-outline-dark m-1" onclick="location.href=`{% url 'ftrdr2' dist_name fy %}`">Next
    Feature</button>
</div>

<div class="row text-center mt-1">
  <div class="col-12 mb-5">
    <input type="text" id="monthSlider" name="somename" data-provide="slider" data-slider-ticks="[0, 1, 2, 3, 4, 5]"
      data-slider-ticks-labels='["Aug", "Sep", "Oct", "Nov", "Dec", "Jan"]' data-slider-min="0" data-slider-max="5"
      data-slider-step="1" data-slider-value="0" data-slider-tooltip="hide">
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-10 chart-container mt-0">
    <canvas id="myChart"></canvas>
  </div>

  <div class="col-2 text-left">
    <p class="text-left">Select Project</p>
    <form id="projectList">
      <div class="form-check">
        {% for project in projectList %}
        <input type="checkbox" class="form-check-input" id="my{{project.project_n}}"
          value="{{ project.project_n }}" /><label class="form-check-label">{{ project.project_n }}</label><br>
        {% endfor %}
        <input type="checkbox" class="form-check-input" id="myMH" value="Maharashtra" /><label
          class="form-check-label">Maharashtra</label><br>
        <button type="button" class="btn btn-primary btn-sm  mt-1 float-left upt-b" onclick="GetSelected()">Update
          Chart</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block feature_js %}

<script>

  let chartStatData = [];

  function filterCSV(csv, key, value) {
    var result = [];
    csv.forEach(function (val, idx, arr) {

      if (val[key] == value) {

        result.push(val)
      }
    })
    return result;
  }

  var chart;
  const render = rdata => {

    var ctx = document.getElementById('myChart').getContext('2d');

    chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'radar',
      // The data for our dataset
      data: {
        labels: ["Stunting (%)", "Underweight (%)", "Wasting (%)", "Low BirthWeight (%)", "Severly Stunting (%)", "Severly Wasted (%)"],
        // pointLabelFontSize: 10,
        // scaleFontSize: 160,
        datasets: rdata,
      },

      // Configuration options go here
      options: {
        // defaultFontSize: 120,
        responsive: true,
        maintainAspectRatio: false,
        // tooltips: {
        // callbacks: {
        //     "title": (tooltipItem, data) => data.labels[tooltipItem[0].index]
        // }
        // },
        tooltips: {
          mode: 'index',
          callbacks: {
            label: function (tooltipItem, data) {
              return data.datasets[tooltipItem.datasetIndex].label + ' : ' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
            }
          }
        },

        hover: {
          mode: 'index',
        },

        scale: {
          angleLines: {
            display: true
          },

          ticks: {
            reverse: true,
            suggestedMin: 0,
            suggestedMax: 100,
            stepSize: 20
          },

          pointLabels: {
            // fontColor: "black",
            // fontSize: 16
          }
        }
      }
    });
  }

  const monthwise = (data) => {
    var aproperty = [];
    var sproperty = [];
    var oproperty = [];

    data.forEach(d => {
      var temp = {};
      temp['project_n'] = d.project_n;
      temp['stunting_percent'] = +d.stunting_percent;
      temp['underweight_percent'] = +d.underweight_percent;
      temp['wasting_percent'] = +d.wasting_percent;
      temp['low_birth_weight_percent'] = +d.low_birth_weight_percent;
      temp['svrly_stunting_percent'] = +d.svrly_stunting_percent;
      temp['svr_wasting_percent'] = +d.svr_wasting_percent;

      if (d.month_n == "Nov") {
        aproperty.push(temp);
      }
      else if (d.month_n == "Dec") {
        sproperty.push(temp);
      } else if (d.month_n == "Jan") {
        oproperty.push(temp)
      }
    })
    var listdata = [
      aproperty, sproperty, oproperty
    ]
    return listdata;
  }

  dataforchart = (data) => {
    let mydata = {
      data: {
        //labels: ["wasting_percent", "stunting_percent", "underweight_percent", "Best Value"],
        datasets: []
      }
    }

    let mydataset = [];

    mybordercolor = ['#0000FF', '#00FF00', '#FFFF00'];
    let itr = 0;
    let i = 0;
    let mycolour = 'red';

    data.forEach((d, itr) => {
      let temp = {};
      if (d.project_n == 'BestProject' || d.project_n == 'Maharashtra' || d.project_n == 'District') {
        mycolour = mybordercolor[i]
        i++;
      }

      temp.label = d.project_n,
        temp.borderColor = mycolour,
        temp.pointBorderColor = 'Black',
        temp.pointBackgroundColor = 'Black',
        temp.pointHoverBorderColor = "rgba(179,181,198,1)",
        temp.backgroundColor = "transparent",
        temp.pointRadius = 5,
        temp.pointHoverRadius = 10,
        temp.pointHoverBackgroundColor = 'red'
      temp.pointHitRadius = 1
      temp.data = [d.stunting_percent, d.underweight_percent, d.wasting_percent, d.low_birth_weight_percent, d.svrly_stunting_percent, d.svr_wasting_percent]
      mydataset.push(temp);
    })
    mydata.data.datasets = mydataset;
    return mydataset;
  }

  data_from_django = {{ data | safe }};
  var data = []
  data_from_django.forEach(element => {
    data.push(element.fields);
  });

  data.forEach(d => {
    d.project_n = d.project_n;
    d.stunting_percent = +d.stunting_percent;
    d.underweight_percent = +d.underweight_percent;
    d.wasting_percent = +d.wasting_percent;
    d.low_birth_weight_percent = +d.low_birth_weight_percent;
    d.svrly_stunting_percent = +d.svrly_stunting_percent;
    d.svr_wasting_percent = +d.svr_wasting_percent;
    d.month_n = d.month_n;
  });


  function GetSelected() {
    var valMonth = tickLabels[$('#monthSlider').slider('getValue')];
    mydata = filterCSV(data, 'month_n', valMonth);
    chartStatData = dataforchart(mydata);
    chart.destroy();
    getSelectedDistricts(chartStatData)
  };

  var tickLabels = ["Aug", "Sep", "Oct", "Nov", "Dec", "Jan"]

  $('#monthSlider').slider().on('slideStop', function (ev) {
    $('input[type=checkbox]').prop('checked', false);
    document.getElementById("myBestProject").checked = true;
    document.getElementById("myDistrict").checked = true;
    document.getElementById("myMH").checked = true;
    var val = tickLabels[ev.value];
    mydata = filterCSV(data, 'month_n', val);
    chartStatData = dataforchart(mydata);
    chart.destroy();
    getSelectedDistricts(chartStatData)
  });

  // monthSelect = tickLabels[$('#monthSlider').slider('getValue')]
  // augData = filterCSV(data, 'month_n', monthSelect);
  // chartStatData = dataforchart(augData);
  // render(dataforchart(augData));

  $(function () {
    document.getElementById("myBestProject").checked = true;
    document.getElementById("myDistrict").checked = true;
    document.getElementById("myMH").checked = true;
    monthSelect = tickLabels[$('#monthSlider').slider('getValue')]
    augData = filterCSV(data, 'month_n', monthSelect);
    chartStatData = dataforchart(augData);
    getSelectedDistricts(chartStatData);

  });

  function getSelectedDistricts(chartStatData) {
    var selected = new Array();
    //Reference the Table.
    var projectList = document.getElementById("projectList");
    //Reference all the CheckBoxes in Table.
    var chks = projectList.getElementsByTagName("INPUT");
    // Loop and push the checked CheckBox value in Array.
    for (var i = 0; i < chks.length; i++) {
      if (chks[i].checked) {
        selected.push(chks[i].value);
      }
    }
    var rdata1 = [];
    for (var i = 0; i < chartStatData.length; i++) {
      for (var j = 0; j < selected.length; j++) {
        if (selected[j] == chartStatData[i].label) {
          rdata1.push(chartStatData[i]);
        }
      }
    }

    render(rdata1);
  }


</script>

{% endblock %}