{% extends 'base.html' %}
{% load static%}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'><link>
  {% block feature_css %}
  {% endblock %}
  
{% endblock %}
{% block content%}
<div class="container-fluid" style="height: 100%;margin-top: 10px;">
  {% block feature %}
  {% endblock %}
</div>
<!-- <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="{% url 'feat1' %}">Feature1</a></li>
        <li class="tab col s3"><a class="active" href="{% url 'feat2' %}">Feature2</a></li>
        <li class="tab col s3 disable"><a href="#test3">Feature3</a></li>
        <li class="tab col s3 disable"><a href="#test4">Feature4</a></li>
      </ul>
    </div>
  </div>
   -->
   

    {% if messages %}
    {% for message in messages %}
    <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
    {% endfor %}
    {% block extra_js %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://unpkg.com/d3-simple-slider"></script>


    {% block feature_js %}
    {% endblock %}
    {% endblock %}

{% endif %}
{% endblock%}