{% extends 'dashboard/dash_base.html' %}
{% load static %}
{% block feature_css %}
<link rel="stylesheet" href="{% static 'kyd_dashboard/css/index.css' %}">
<style>
  p {
    font-size: calc(40% + 0.5vw + 0.5vh);
    font-weight: bold;
  }

  .form-check-label {
    margin-top: 7px;
    font-size: calc(40% + vw + vh);
    padding-left: calc(10% + 0.2vw + 0.1vh);
    text-align: middle;
  }

  .form-check-input {
    width: calc(4% + 0.5vw + 0.7vh);
    height: calc(2.5% + 0.5vw + 0.5vh);
  }

  .upt-b {
    font-size: calc(35% + 0.5vw + 0.5vh);
  }

  .chart-container {
    position: relative;
    margin: auto;
    width: 75vw;
    height: 65vh;
    font-size: calc(100% + 0.5vw + 0.5vh);
  }
</style>

{% endblock %}

{% block feature %}

<script src="{% static 'kyd_dashboard/js/Chart.min.js' %}"></script>

<script src="{% static 'kyd_dashboard/js/d3-scale-radial.js' %}"></script>

<div class="row">
  <div class="col-12 h-75">
    <div class="heading text-center">Radar Diagram - Performance Indicators
    </div>
  </div>
</div>

<div class="row text-center bg-info">
  <div class="dropdown m-1">
    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <span class="selectedPtype"></span>
    </button>
    <div class="dropdown-menu ptype" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Urban</a>
      <a class="dropdown-item" href="#">Rural</a>
      <a class="dropdown-item" href="#">Tribal</a>
    </div>
  </div>
  <button type="button" class="btn btn-outline-dark m-1" onclick="location.href=`{% url 'maha-feat4' fy %}`">Previous
    Feature</button>
  <button type="button" class="btn btn-outline-dark m-1" onclick="location.href=`{% url 'maha-feat6' fy %}`">Next
    Feature</button>
</div>

<div class="row text-center mt-1">
  <div class="col-12 mb-5">
    <input type="text" id="monthSlider" name="somename" data-provide="slider" data-slider-ticks="[0, 1, 2, 3, 4, 5]"
      data-slider-ticks-labels='["Aug", "Sep", "Oct", "Nov", "Dec", "Jan"]' data-slider-min="0" data-slider-max="5"
      data-slider-step="1" data-slider-value="0" data-slider-tooltip="hide">
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-10 chart-container mt-0">
    <canvas id="myChart"></canvas>
  </div>

  <div class="col-2 text-left">
    <p class="text-left">Select District</p>

    <form id="projectList">
      <div class="form-check">
        <div class="checkboxes" id="category-checkbox">
        </div>
        <!-- {% for district in dtList %}
        <input type="checkbox" class="form-check-input" id="my{{ district.district_n}}"
          value="{{ district.district_n }}" /><label class="form-check-label">{{ district.district_n }}</label><br>
        {% endfor %}
        <input type="checkbox" class="form-check-input" id="myMH" value="Maharashtra" /><label
          class="form-check-label">Maharashtra</label><br> -->

        <button type="button" class="btn btn-primary btn-sm  mt-1 float-left" onclick="GetSelected()">Update
          Chart</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block feature_js %}

<script>

  let chartStatData = [];
  let prjType = 'Urban';

  function filterCSV(csv, key, value) {
    var result = [];
    csv.forEach(function (val, idx, arr) {

      if (val[key] == value) {

        result.push(val)
      }
    })
    return result;
  }

  var chart
  const render = rdata => {

    var ctx = document.getElementById('myChart').getContext('2d');

    chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'radar',
      // The data for our dataset
      data: {

        labels: ["Anemia Free Women", "Children Immunization", "Children(0-6 months) BF Practices", "Children (6-24 months) CF Practices"],
        datasets: rdata,
      },

      // Configuration options go here
      options: {
        //defaultFontSize: 120,
        //maintainAspectRation: false,
        tooltips: {
          mode: 'index',
          callbacks: {
            label: function (tooltipItem, data) {
              return data.datasets[tooltipItem.datasetIndex].label + ' : ' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
            }
          }
        },

        hover: {
          mode: 'index',
        },

        scale: {
          angleLines: {
            display: true
          },

          ticks: {
            suggestedMin: 0,
            suggestedMax: 1,
            stepSize: 0.2
          },

          pointLabels: {
            fontColor: "blue",
            fontSize: 20
          }
        }
      }
    });
  }

  dataforchart = (data) => {
    let mydata = {
      data: {
        labels: ["Anemia Free Women", "Children Immunization", "Children(0-6 months) BF Practices", "Children (6-24 months) CF Practices"],
        datasets: []
      }
    }

    let mydataset = [];

    mybordercolor = ['#0000FF', '#00FF00', '#FFFF00'];
    let itr = 0;
    let i = 0;
    let mycolour = 'red';

    data.forEach((d, itr) => {

      let temp = {};
      if (d.district_n == "BestDistrict" || d.district_n == "Maharashtra") {
        mycolour = mybordercolor[i]
        i++;
      }

      temp.label = d.district_n,
        temp.borderColor = mycolour,

        // temp.defaultFontSize= "12",

        temp.pointLabelFontColor = "Red",

        //  temp.borderColor = 'Gray',

        temp.pointBorderColor = 'Black',

        temp.pointBackgroundColor = 'Black',

        //temp.pointHoverBackgroundColor = "#fff";

        temp.pointHoverBorderColor = "rgba(179,181,198,1)",

        temp.backgroundColor = "transparent",

        temp.pointRadius = 5,

        temp.pointHoverRadius = 10,

        temp.pointHoverBackgroundColor = 'red',

        temp.pointHitRadius = 1,

        //temp.showTooltips = true,

        //temp.borderColor = mybordercolor[itr],

        // temp.data = [d.svrly_stntd,d.svr_wstg,d.wasting_percent,d.stunting_percent,d.underweight_percent];

        temp.data = [d.norm_anemic_free_wmn, d.norm_child_immunization, d.norm_chld_bf, d.norm_chld_cf]
      mydataset.push(temp);
    })

    mydata.data.datasets = mydataset;

    return mydataset;

  }

  data_from_django = {{ data | safe }};

  var data = []

  data_from_django.forEach(element => {

    data.push(element.fields);

  });


  data.forEach(d => {
    d.district_n = d.district_n;
    d.project_type = d.project_type;
    d.norm_anemic_free_wmn = +d.norm_anemic_free_wmn;
    d.norm_child_immunization = +d.norm_child_immunization;
    d.norm_chld_bf = +d.norm_chld_bf;
    d.norm_chld_cf = +d.norm_chld_cf;
    d.month_n = d.month_n
  });

  function GetSelected() {
    var valMonth = tickLabels[$('#monthSlider').slider('getValue')];
    mydata = filterCSV(data, 'month_n', valMonth);
    pt_data = filterCSV(mydata, 'project_type', prjType)
    chartStatData = dataforchart(pt_data);
    chart.destroy();
    getSelectedDistricts(chartStatData)
  };

  $(".ptype a").click(function () {
    $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="selectedPtype"></span>');
    $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
    prjType = $(this).text();
    var valMonth = tickLabels[$('#monthSlider').slider('getValue')];
    mydata = filterCSV(data, 'month_n', valMonth);
    pt_data = filterCSV(mydata, 'project_type', prjType)
    populdatedistrictList(pt_data)
    document.getElementById("myBestDistrict").checked = true;
    document.getElementById("myMaharashtra").checked = true;
    chartStatData = dataforchart(pt_data);
    chart.destroy();
    getSelectedDistricts(chartStatData)
  });

  var tickLabels = ["Aug", "Sep", "Oct", "Nov", "Dec", "Jan"]

  $('#monthSlider').slider().on('slideStop', function (ev) {
    $('input[type=checkbox]').prop('checked', false);
    var val = tickLabels[ev.value];
    mydata = filterCSV(data, 'month_n', val);
    pt_data = filterCSV(mydata, 'project_type', prjType);
    populdatedistrictList(pt_data);
    document.getElementById("myBestDistrict").checked = true;
    document.getElementById("myMaharashtra").checked = true;
    chartStatData = dataforchart(pt_data);
    chart.destroy();
    getSelectedDistricts(chartStatData)
  });

  $(function () {
    $('.ptype a').parents('.dropdown').find('.dropdown-toggle').html('Urban' + ' <span class="selectedPtype"></span>');
    monthSelect = tickLabels[$('#monthSlider').slider('getValue')]
    augData = filterCSV(data, 'month_n', monthSelect);
    pt_data = filterCSV(augData, 'project_type', prjType)
    populdatedistrictList(pt_data);
    document.getElementById("myBestDistrict").checked = true;
    document.getElementById("myMaharashtra").checked = true;
    chartStatData = dataforchart(pt_data);
    getSelectedDistricts(chartStatData);
  });

  function getSelectedDistricts(chartStatData) {
    //Create an Array.
    var selected = new Array();

    //Reference the Table.
    var projectList = document.getElementById("projectList");

    //Reference all the CheckBoxes in Table.
    var chks = projectList.getElementsByTagName("INPUT");

    // Loop and push the checked CheckBox value in Array.
    for (var i = 0; i < chks.length; i++) {
      if (chks[i].checked) {
        selected.push(chks[i].value);
      }
    }

    var rdata2 = [];
    for (var i = 0; i < chartStatData.length; i++) {
      for (var j = 0; j < selected.length; j++) {
        if (selected[j] == chartStatData[i].label) {
          rdata2.push(chartStatData[i]);
        }
      }
    }
    render(rdata2);
  }

  function populdatedistrictList(data)
{ 
  $("#category-checkbox").empty();
  $(data).each(function () {
    $('#category-checkbox').append($('<input>').attr({
                    type: 'checkbox', class: 'form-check-input', value: this.district_n, id: 'my' + this.district_n
                })).append(
                $('<label>').attr({
                    class: 'form-check-label align-middle'
                }).text(this.district_n))
                .append($('<br>'));
            });

}
</script>

{% endblock %}