{% extends 'dashboard/dash_base.html' %}
{% load static %}

{% block feature_css %}
<style>
    html, body {
        height: 100%;
        margin: 0;
    }
.table { 
border-collapse: collapse; 
margin-left: 30px;
height: 50%;
}

th { 
background: skyblue; 
font-size: 15px;
/* color: black;  */
font-weight: bold; 
cursor: s-resize;
background-repeat: no-repeat;
background-position: 3% center;


}
td, th { 
padding: 6px; 
border: 1px solid #ccc; 
text-align: left; 
}
/* tr.hidden{display: none;}
th.alt { background-color: #ddd;} */
th:nth-child(odd) {
background-color: #f2f2f2;
}



   
</style>
{% endblock %}

{% block feature %}
<div class='heading text-dark mt-2 text-center'>State Profile</div>
        <div class="row text-center" style="height: 100px;">
          <div class="col-12 bg-info h-75 w-100" >
            <!-- select month -->
            <div class="dropdown" style="float: left; margin:20px">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Month
                <span class="selectedMonth"></span>
              </button>
              <div class="dropdown-menu month" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">November</a>
                <a class="dropdown-item" href="#">December</a>
                <a class="dropdown-item" href="#">January</a>
              </div>
            </div>
            
            <button type="button" class="btn btn-info" style="float: left; margin:20px" onclick="location.href=`{% url 'maha-feat5'%}`">Previous Feature</button>
            <button type="button" class="btn btn-info" style="float: left; margin:20px" onclick="location.href=`{% url 'maha-feat6so'%}`">Next Feature</button>
        
        </div>
            
          </div>
                      <!-- <div class="row h-10 justify-content-center">
                        <svg width="1000" height="50"></svg>
                    </div> -->
                        <div >
                        <h3 style="text-align: center; font-style: italic; font-weight: bold;">Outcome Indicators</h3>
                    </div>
                   
                    <div id="table" class="row h-25 bg-light justify-content-center"></div>
                    <div >
                        <h3 style="text-align: center; font-style: italic; font-weight: bold;">Performance Indicators</h3></div>

                    <div id="table1" class="row h-75 bg-light justify-content-center"></div>

  
  
 
{% endblock %}

{% block feature_js %}
<script>
    const render = data =>{

      const dropdownChange = () =>{
var sel = document.getElementById('opt');
val = document.getElementById("opt").value
}
$(".drop-month a").click(function(){
var val = $(this).text();
$(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="selectedCategory"></span>');
$(this).parents(".dropdown").find('.btn').val($(this).data('value'));
if(val === 'November'){
month_hack = 'nov'
}else if(val === 'December'){
month_hack = 'dec'
}else if(val === 'January'){
month_hack = 'jan'
}

}) 
}
const monthwise = (data) => {
// console.log(data)
 
 data.forEach(d => {
     d.state_n = d.state_n;
     d.mdrtly_stntd = +d.mdrtly_stntd;
     d.svrly_stntd = +d.svrly_stntd;
     d.svr_wstg = +d.svr_wstg;
     d.mdrtly_wstd = +d.mdrtly_wstd;
     d.svrly_uw = +d.svrly_uw;
     d.mdrtly_uw = +d.mdrtly_uw;
     d.nb_lbw = +d.nb_lbw;
     d.wasting_percent = d.wasting_percent;
 });
//    console.log(data);
  var aproperty = [];
  var sproperty = [];
  var oproperty = [];
  data.forEach(d=>{
      var temp = {}
      temp['state_n'] = d.state_n;
      temp['nb_lbw'] = d.nb_lbw;
      temp['wasting_percent'] = d.wasting_percent;
      temp['stunting_percent'] = d.stunting_percent;
      temp['underweight_percent'] = d.underweight_percent;
      temp['low_birth_weight_percent'] = d.low_birth_weight_percent;
      temp['stntd_chld'] = d.stntd_chld;
      temp['wstd_chld'] = d.wstd_chld;
      temp['uw_chld'] = d.uw_chld;
      temp['prnt_anwmic_wmn'] = d.prnt_anwmic_wmn;
      temp['prnt_chld_bf_at_birth']= d.prnt_chld_bf_at_birth;
      temp['prnt_wmn_etg_xtr_ml_drng_prgncy']= d.prnt_wmn_etg_xtr_ml_drng_prgncy;
      temp['prnt_chld_excly_bf'] =d.prnt_chld_excly_bf;
      temp['prnt_4_anc_vst_dlvry'] = d.prnt_4_anc_vst_dlvry;
      temp['prnt_chld_rcvg_cf_wid_adq_dt_dvsty']=d.prnt_chld_rcvg_cf_wid_adq_dt_dvsty;
      temp['prnt_chld_cf_wid_adq_dt_qnty']=d.prnt_chld_cf_wid_adq_dt_qnty;
      temp['per_no_chld_cf_wid_appr_hndwhg_bfr_fdg']=d.per_no_chld_cf_wid_appr_hndwhg_bfr_fdg;
      temp['prnt_trmstr_3wmn_cnsld_imdtbf']=d.prnt_trmstr_3wmn_cnsld_imdtbf;
      temp['prnt_wmn_rstg_drg_prgncy']=d.prnt_wmn_rstg_drg_prgncy;
      temp['prnt_intd_6to8mnth_cf_child']= d.prnt_intd_6to8mnth_cf_child;
      temp['prnt_intd_cf_6to24mnth_child'] = d.prnt_intd_cf_6to24mnth_child;
      temp['prnt_child_1yr_immnztn'] =d.prnt_child_1yr_immnztn;
      if(d.month_n == "Nov"){
          aproperty.push(temp);
  }else if (d.month_n == "Dec"){
      sproperty.push(temp);
  }else if (d.month_n == "Jan"){
      oproperty.push(temp);
  }
  // console.log( data)
})

var listdata = [aproperty,sproperty,oproperty]
// console.log(listdata)

return listdata;
}

d3.csv("{% static 'maha_dashboard/data/csv/f4.csv' %}").then(data => {
  // console.log(data);


  monthwiseData = monthwise(data);
  // console.log(monthwiseData)
      d3.select("#monthdropdown")
  .on("change", () =>{
              val = document.getElementById("monthdropdown").value
  //             // mydata = selectData(val,monthwiseData);
  //             // console.log(monthwiseData);
              tableData = tbData(val, monthwiseData);
  //                 // svg.selectAll("*").remove();
  //                 // console.log(tableData);
                  render(tableData);

              });
              $(".month a").click(function(){
var val = $(this).text();
tableData = tbData(val, monthwiseData);
// svg.selectAll("*").remove();
//   console.log(tableData);
render(tableData);


});
$(function(){
//bind event
$(".month a").click(function(){
var valMonth = $(this).text();
$(this).parents('.dropdown').find('.dropdown-toggle').html(valMonth + ' <span class="selectedMonth"></span>');
});
$('.month a').first().trigger('click');
$(".category a").first().trigger('click');

});

              // augData= monthwiseData[0];
// console.log(tables)
tables(monthwiseData[0]);


})
const tbData =  (val,monthwiseData) =>{
// console.log(monthwiseData)
if(val == "November"){

      return [tables(monthwiseData[0])];
}else if (val == "December"){
  return [tables(monthwiseData[1])];
}else if (val == 'January'){
  return [tables(monthwiseData[2])];      
  }
  
}
          
         



function tables(data){
// console.log(data);
$( ".hello" ).remove();
$( ".hello1" ).remove();


var tbdata = [];
  
  data.forEach(d=>{
      var tbd = {}
      tbd[''] = d.state_n;
      tbd['Stunted Childern'] = d.stntd_chld;
      tbd['Stunting Percent(%)'] = d.stunting_percent;
      tbd['Wasted Childern'] = d.wstd_chld;
      tbd['Wasting Percent(%)'] = d.wasting_percent;
      tbd['Underweight Childern'] = d.uw_chld;
      tbd['Underweight Percent(%)'] = d.underweight_percent;
      tbd['No. of Newborn with Low Birth Weight'] = d.nb_lbw;
      tbd['Low Birth Weight Percent(%)'] = d.low_birth_weight_percent;
     
     
      tbdata.push(tbd);
  });
var table = d3.select('div#table').append('table').attr('class','hello');

// console.log(tbData[0]);
var titles = d3.keys(tbdata[0]);

var headers = table.append('thead').append('tr')
                 .selectAll('th')
                 .data(titles).enter()
                 .append('th')
                 .text(function (d) {
                      return d;
                  });
           

var rows = table.append('tbody').selectAll('tr')
             .data(tbdata).enter()
             .append('tr');
             
rows.selectAll('td')
     
  .data(function (d) {
      return titles.map(function (k) {
          return { 'value': d[k], 'name': k};
      });
  }).enter()
  .append('td')

.text(function (d) {
      return d.value;
  });


  var tbdata1 = [];
  
  data.forEach(d=>{
      var tbdt = {}
      tbdt[''] = d.state_n;
      tbdt['%Anemic women'] = d.prnt_anwmic_wmn;
      tbdt['%Pregnant women had 4 ANC visit'] = d.prnt_4_anc_vst_dlvry;
      tbdt['%Pregnant women resting during pregnancy']=d.prnt_wmn_rstg_drg_prgncy;
      tbdt['%Pregnant women eating extra meal during pregnancy'] = d.prnt_wmn_etg_xtr_ml_drng_prgncy;
     tbdt['%Pregnant women counselled for BF in trimester']=d.prnt_trmstr_3wmn_cnsld_imdtbf;
      tbdt['%Childern breastfeed at birth'] = d.prnt_chld_bf_at_birth;
      tbdt['%Childern (6-8 months) initiated CF']= d.prnt_intd_6to8mnth_cf_child;
      tbdt['%Childern (6-24 months) initiated CF']= d.prnt_intd_cf_6to24mnth_child;
      tbdt['%Childern(0-6) exclusively breastfed'] = d.prnt_chld_excly_bf;
      tbdt['%Children receiving CF with diet diversity'] = d.prnt_chld_rcvg_cf_wid_adq_dt_dvsty;
      tbdt['%Children receiving CF with diet quantity'] = d.prnt_chld_cf_wid_adq_dt_qnty;
      tbdt['%Childern receiving CF with appropriate hand washing'] = d.per_no_chld_cf_wid_appr_hndwhg_bfr_fdg;
     tbdt['%Childern with 1 year completed Immunization']= d.prnt_child_1yr_immnztn;

      tbdata1.push(tbdt);
  });
  console.log(tbdata1)

  var table = d3.select('div#table1').append('table').attr('class','hello1');

// console.log(tbData[0]);
  var titles = d3.keys(tbdata1[0]);

  var headers = table.append('thead').append('tr')
                   .selectAll('th')
                   .data(titles).enter()
                   .append('th')
                   .text(function (d) {
                        return d;
                    });
             
 
  var rows = table.append('tbody').selectAll('tr')
               .data(tbdata1).enter()
               .append('tr');
               
  rows.selectAll('td')
       
    .data(function (d) {
        return titles.map(function (k) {
            return { 'value': d[k], 'name': k};
        });
    }).enter()
    .append('td')

.text(function (d) {
        return d.value;
    });


}


</script>
{% endblock %}
