{% extends 'kyd_dashboard/kyd_base.html' %}



{% load static %}







{% block feature_css %}



<link rel="stylesheet" href="{% static 'kyd_dashboard/css/index.css' %}" >



<link rel="stylesheet" type="text/css" href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'><link>







<style>



body {



  position: fixed;



  left: 0;



  right: 0;



  top: 0;



  bottom: 0;



  margin: 0;



  overflow: hidden;



}



div.tooltip { 



    position: absolute;     



    text-align: center;     



    width: 150px;          



    height: 60px;          



    padding: 2px;       



    font: 12px sans-serif;    



    background: #fff; 



    border: 0px;



  	border-radius: 50px;



    pointer-events: none;     



}







.boundary {



  stroke: #ccebed;



  stroke-width: 1px; 



}







.slider-lebel{



	background-color: green;



}







.info-hirar{



	font-size:1.5em;







}



td{



 font-weight:bold;



}



.scrollable{



    overflow-y: scroll; 



    max-height: 500px;



}







</style>



{% endblock %}







{% block feature %}



<div class=" full-height">



    <div class='heading text-dark mt-2 text-center' >Outcome Indicators</div>







    <div class="row ">



          <div class="row bg-info w-100 m-0">



        <div class="dropdown" style="float: left; margin:10px">



            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">



              Select Month



          		<span class="selectedMonth"></span>



            </button>



            <div class="dropdown-menu drop-month" aria-labelledby="dropdownMenuButton">



              <a class="dropdown-item" href="#">November</a>



              <a class="dropdown-item" href="#">December</a>



              <a class="dropdown-item" href="#">January</a>



            </div>



          </div>



          <div class="dropdown" style="float: left; margin:10px"> 



            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">



              Select Category



              <span class="selectedCategory"></span>



            </button>



            <div class="dropdown-menu drop-category" aria-labelledby="dropdownMenuButton">



              <a class="dropdown-item" href="#">Severly Stunted Children</a>



              <a class="dropdown-item" href="#">Stunted Children</a>



              <a class="dropdown-item" href="#">Severely Wasted Children</a>



              <a class="dropdown-item" href="#">Wasted Children</a>



              <a class="dropdown-item" href="#">Severely Underweight Children</a>



              <a class="dropdown-item" href="#">Underweight Children</a>



              <a class="dropdown-item" href="#">Newborn with low birth rate</a>



            </div>



          </div>



          <button type="button" class="btn btn-info" style="float: left; margin:10px" onclick="location.href=`{% url 'maha-feat6so'%}`">Previous Feature</button>



          <div id="slider-range" style="float: left;"></div>







          <button type="button" class="btn btn-info" style="float: left; margin:10px" onclick="location.href=`{% url 'maha-feat8'%}`">Next Feature</button>















    </div>



    </div>



    



  <div class="row h-100 scrollable">



    <div class="col">



      <div class='row'> 



        <div class='col '>   



          <button type="button" class="btn back-button m-4">back</button>



          <span class='info info-hirar'>Maharastra</span>



	         <br>

          <p style="font-size: large;">Click on the Polygon (District) to view the Lower Level</p>

        </div>

        <div>

           <a href="{% url 'maha-feat_lcdt'%}">



            <h6 style="float: right; margin:10px">Want to see Month-wise Trend



            <i class="fa fa-chevron-right" aria-hidden="true"></i>



          </a></h6>

        </div>



      </div>



      <div class='row' style="height:900px" >



      	<div class='col-8' id = "mymap">



            <div class="text-center">



                <p id="value-range"></p>



            </div>







                    <svg></svg>



				</div>



        <div class='col-4'>            



          <div class='data-table scrollable'></div>



				</div>



      </div>



    </div>







 







</div>



{% endblock %}







{% block feature_js %}



<script>







    







    const width = document.getElementById("mymap").offsetWidth;



    const height = document.getElementById("mymap").offsetHeight;



    



    const margin = {left:200,top:300 ,right:40,bottom:20};



    const innerWidth = width - margin.left - margin.right;



    const innerHeight = height - margin.top - margin.bottom;



        



    console.log(width,height);



    const transitionDuration = 1000;



    let level = 0; 



    let levelLocation = [];



    let month_hack = "nov";



    let direction = 1;



    let circleEnter,rowEnter;



    let zoomBox = {'translate':[],'scale':[]};



    let table = d3



      .select(".data-table")



      .append("table")



      .attr("class", "table update-table");



    let headerName = ["Location", "Percentage", "Actual Number"];



    let headers = table



      .append("thead")



      .append("tr")



      .selectAll("th")



      .data(headerName)



      .enter()



      .append("th")



      .text(d => d);



    let row = table.append("tbody").selectAll("tr");



    //Zoom



    let zzoom = d3.zoom()



      .scaleExtent([1, 8])



      .on("zoom", zoomed);



    



    function zoomed() {



      // g.style("stroke-width", 1.5 / d3.event.transform.k + "px");



      g.attr("transform", d3.event.transform); // updated for d3 v4



    }



    



    let tooltip = d3



      .select("body")



      .append("div")



      .attr("class", "tooltip")



      .style("opacity", 0);



    



    const svg = d3



      .select("svg")



      .attr("width", width)



      .attr("height", height);



    const g = svg.append("g");



    const mercator = d3



      .geoMercator()



      .scale(3000)



      .translate([innerWidth / 2, innerHeight / 2])



      .center([75,16.7]);



    const pathGenerator = d3.geoPath().projection(mercator);



    //Zoom



    // svg.call(d3.zoom().on('zoom',() =>{



    // 	g.attr('transform',event.transform)



    // }))



    



    const render = (



      block,



      project,



     



      blockData,



      projectData



      



    ) => {



      //initail value of tooltip



      let TextValue = null;



      let TooltipVal1 = d => d.properties.svrly_stntd;



      let TooltipVal2 = d => "-";



      let TooltipVal3 = d => d.properties.ht_msrmnt_effcy;



      let ColorValue = d => d.properties.svrly_stunting_percent;



      let TPercentValue = d => d.svrly_stunting_percent;



      let TActualValue = d => d.svrly_stntd;



      const fillCellColor = (d, percentageColor, actualColor) => {



        if (d.name == "Percentage") return percentageColor(d.value);



        else if (d.name == "Actual Number") return actualColor(d.value);



      };



    



      //info-div



      const updateMonth = selectedMonth => {



        switch (month_hack) {



          case "nov":



            selectedMonth = "November";



            break;



          case "dec":



            selectedMonth = "December";



            break;



          case "jan":



            selectedMonth = "January";



            break;



        }



        d3.select(".info-month").text(selectedMonth);



      };



    



      const updateCategory = updatedCat => {



        d3.select(".info-category").text(updatedCat);



      };



    



    



      //makemap



      const makemap = (geojson, tdata) => {



        d3.select('.info-hirar').text(function(){



          let hirarchy = "Maharastra";



          levelLocation.forEach(loc=>{



            hirarchy += ">"+loc;



          })



          return hirarchy;



        })



        updateMonth();



        if (level == 0 && direction == 1) {



          TextValue = d => d.properties.District;



        } else if (level == 1 && direction == 1) {



          TextValue = d => d.properties.Block;



          // ActualValue = d => d.properties. 



        } 



       else if (level == 1 && direction == 0) {



          TextValue = d => d.properties.Block;



        } else if (level == 0 && direction == 0) {



          TextValue = d => d.properties.District;



        } 



        let min = d3.min(geojson, ColorValue);



        let max = d3.max(geojson, ColorValue);



        let comp = (max - min) / 3;



        let myColor = (v, low, high) => {



            if (v < low) return "#24562B";



            //matte green



            else if (v >= low && v <= high) return "#FFE338";



            //matte yellow



            else if (v > high) return "#B2022F"; //matte red



        };



           let tooltipValue = (d) =>{



          let ttv = `<b>${TextValue(d)}</b><br> 



                      Actual Value: ${TooltipVal1(d)}<br>



                      Moderate Value: ${TooltipVal2(d)}<br>



                     `;



           return ttv;



           }



            const onMouseOverPoly = d => {



          tooltip



            .transition()



            .duration(200)



            .style("opacity", 0.9);



          tooltip



            .html(tooltipValue(d))



            .style("left", d3.event.pageX + "px")



            .style("top", d3.event.pageY - 30 + "px");



          



        };



    



        let path = g.selectAll("path").data(geojson);



        let pathEnter = path



          .enter()



          .append("path")



          .attr("d", pathGenerator)



          .attr("class", "boundary")



          .style("fill", d => {



            if(level !== 3){



              return myColor(ColorValue(d), min + comp, max - comp);



            }else{



             return "rgba(0,0,0,0)";



            }



          })



          .on("mouseover", d => onMouseOverPoly(d))



          .on("mouseout", function(d) {



            tooltip



              .transition()



              .duration(500)



              .style("opacity", 0);



          });



    



        //text over polygon



        let textLabel = g



          .selectAll("text")



          .data(geojson)



          .enter()



          .append("text")



          .text(d => {



            if (level !== 3) {



              return `${TextValue(d)}(${ColorValue(d)})`;



            } else {



              return "";



            }



          })



          .attr("x", function(d) {



            return pathGenerator.centroid(d)[0];



          })



          .attr("y", function(d) {



            return pathGenerator.centroid(d)[1];



          })



          .attr("text-anchor", "middle")



          .attr("font-family", "sans-serif");



    



        if (level === 0) {



          textLabel.attr("font-size", '8pt').attr("font-weight", "bold");



        } else if (level === 1) {



          textLabel.attr("font-size", "2pt").attr("font-weight", "bold"); 



        } else if (level === 2) {



          textLabel.attr("font-size", "4pt");



        } 



        



    



        //update slider color



        const fillSlider = () => {



          leftX2 = +d3.select("line.track-fill").attr("x1") - 15;



          d3.select("line.leftcolor").attr("x2", leftX2);



        };



        //when slider move



        sliderRange.on("onchange", val => {



          fillSlider();



          d3.select("p#value-range").text(val.map(d3.format(".1%")).join("-"));



          let low = (val[0] * 100).toFixed(2);



          let high = (val[1] * 100).toFixed(2);



          



          pathEnter



            .transition()



            .duration(transitionDuration)



            .style("fill", function(d) {



              if(level !== 3){



                return myColor(ColorValue(d), low, high);



              }else{



                return 'rgba(0,0,0,0)';



              }



            });



          



          if(level === 3){



            circleEnter



            .transition()



            .duration(transitionDuration)



            .style("fill", function(d) {



                return myColor(ColorValue(d), low, high);



            });



          }



        });



        let updatedCat;



        const updateviz = selectedCat => {



          //update tooltip



          switch (selectedCat) {



            



        case 1:



          updatedCat = "Severely Stunted Children";



          TooltipVal1 = d => d.properties.svrly_stntd;



  				TooltipVal2 = d => d.properties.mdrtly_stntd;



  				// TooltipVal3 = d => d.properties.ht_msrmnt_effcy;



  				ColorValue = d => d.properties.svrly_stunting_percent;



          break;



        case 2:



          updatedCat = "Stunted Children";



          TooltipVal1 = d => d.properties.stntd_chld;



  				TooltipVal2 = d => d.properties.mdrtly_stntd;



  				// TooltipVal3 = d => d.properties.ht_msrmnt_effcy;



          ColorValue = d => d.properties.stunting_percent;



          break;



        case 3:



          updatedCat = "Severely Wasted Children";



          TooltipVal1 = d => d.properties.svrly_wstd;



  				TooltipVal2 = d => d.properties.mdrtly_wstd;



  				// TooltipVal3 = d => d.properties.ht_msrmnt_effcy;



          ColorValue = d => d.properties.svrly_wasting_percent;



          break;



        case 4:



          updatedCat = "Wasted Children";



          TooltipVal1 = d => d.properties.wstd_chld;



  				TooltipVal2 = d => d.properties.mdrtly_wstd;



  				// TooltipVal3 = d => d.properties.ht_msrmnt_effcy;



          ColorValue = d => d.properties.wasting_percent;



          break;



        case 5:



          updatedCat = "Severely Underweight Children";



          TooltipVal1 = d => d.properties.svrly_uw;



  				TooltipVal2 = d => d.properties.mdrtly_uw;



  				// TooltipVal3 = d => d.properties.wt_msrmnt_effcy;



          ColorValue = d => d.properties.svrly_underweight_percent;



          break;



        case 6:



          updatedCat = "Underweight Children";



          TooltipVal1 = d => d.properties.uw_chld;



  				TooltipVal2 = d => d.properties.mdrtly_uw;



  				// TooltipVal3 = d => d.properties.wt_msrmnt_effcy;



          ColorValue = d => d.properties.underweight_percent;



          break;



        case 7:



          updatedCat = "New born with low birth rate";



          TooltipVal1 = d => d.properties.nb_lbw;



  				TooltipVal2 = d => "-";



  				TooltipVal3 = d => "-";



          ColorValue = d => d.properties.low_birth_weight_percent;



          break;



          }



          updateCategory(updatedCat);



          min = d3.min(geojson, ColorValue);



          max = d3.max(geojson, ColorValue);



          comp = (max - min) / 3;



          pathEnter



            .transition()



            .duration(transitionDuration)



            .style("fill", function(d) {



              if(level !== 3){



              return myColor(ColorValue(d), min + comp, max - comp);



              }else{



                return 'rgba(0,0,0,0)';



              }



            });



    



          textLabel



            .text(d => {



            if(level !== 3)



              return `${TextValue(d)}(${ColorValue(d)})`;



            })



            .exit()



            .remove();



        };



    



        



          let updatepoints = () =>{



            min = d3.min(geojson, ColorValue);



            max = d3.max(geojson, ColorValue);



            comp = (max - min) / 3;



          circleEnter



            .transition()



            .duration(transitionDuration)



            .style("fill", d => {



           return myColor(ColorValue(d),min+comp,max-comp)



          }); 



            



            



          }



          



          



    



    



        //on category selection



    



        $('.drop-category a').click(function(){



        $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="selectedMonth"></span>');



    



                let selCat = $(this).text();



                let val;



                switch(selCat){



                    case "Severly Stunted Children":val=1;break;



                    case "Stunted Children":val=2;break;



                    case "Severely Wasted Children":val=3;break;



                    case "Wasted Children":val=4;break;



                    case "Severely Underweight Children":val=5;break;



                    case "Underweight Children":val=6;break;



                    case "Newborn with low birth rate":val=7;break;



                }



                updateviz(val);



                if(level === 3){



                    updatepoints(val);



                }



                updatetable(val);



            })



    



    



        const zoomToBoundingBox = d => {



          let bounds = pathGenerator.bounds(d),



            dx = bounds[1][0] - bounds[0][0],



            dy = bounds[1][1] - bounds[0][1],



            x = (bounds[0][0] + bounds[1][0]) / 2,



            y = (bounds[0][1] + bounds[1][1]) / 2,



            scale = Math.max(



              1,



              Math.min(8, 0.9 / Math.max(dx / innerWidth, dy / innerHeight))



            ),



            translate = [innerWidth / 2 - scale * x, innerHeight / 2 - scale * y];



            zoomBox['translate'].push(translate);



            zoomBox['scale'].push(scale);



          svg



            .transition()



            .duration(transitionDuration)



            .call(



              zzoom.transform,



              d3.zoomIdentity.translate(translate[0], translate[1])



              .scale(scale)



            );



        };



        //selectmap



        const selectedSubFeature = (geojson, location) => {



          let selection = [];



          let geomType;



          // if(level === 3 && direction == 0){



          // } 



          geojson.forEach(sel => {



            if (level === 1 ) {



              if (sel.properties.District === location) {



                selection.push(sel);



              }



            } else if (level === 2 ) {



              if (sel.properties.Block === location) {



                selection.push(sel);



              }



            } 



           



          });



          return selection;



        };



    



   



    



        const selectedSubData = (csv, location) => { 



          let selection = [];



          csv.forEach(sel => {



            if (level === 1 && direction === 1) {



              if (sel.district_n == location) {



                selection.push(sel);



              }



            } else if (level === 2 && direction === 1) {



              if (sel.sub_district == location) {



                selection.push(sel);



              }



            } 



           



           



            else if (level === 1 && direction === 0) {



              if (sel.district_n == location) {



                selection.push(sel);



              }



            }else if (level === 0 && direction === 0) {



              if (sel.district_n == location) {



                selection.push(sel);



              }



            }  



          });



          // console.log(selection);



          return selection;



        };



        // clicked



        const clicked = d => {



          if (level < 1){ 



          level++;



          direction = 1;



          zoomToBoundingBox(d);



          let clickedLocation;



          if (level === 1) {



            clickedLocation = d.properties.District;



          } 



        



    



          levelLocation.push(clickedLocation);



    



          let selectedJSON, selectedData;



          let selectedPoints;



          switch (month_hack) {



            case "nov":



              if (level === 1) {



                selectedJSON = project.Nov;



                selectedData = projectData.Nov;



              } 



             



              break;



            case "dec":



              if (level === 1) {



                selectedJSON = project.Dec;



                selectedData = projectData.Dec;



              } 



            



              break;



            case "jan":



              if (level === 1) {



                selectedJSON = project.Jan;



                selectedData = projectData.Jan;



              }



          



              break;



          }



          let selectedjson = selectedSubFeature(selectedJSON, clickedLocation);



          let selecteddata = selectedSubData(selectedData, clickedLocation);



          g.selectAll("*").remove();



          rowEnter.selectAll("*").remove();



          // tooltip.remove();



          makemap(selectedjson, selecteddata);



          



    



          



                 }// if condition ends here



        };



        pathEnter.on("click", clicked);



      



        //makeTable



        



        let tbdata = [];



        let LocationValue = d => d.Block;



        let PercentageValue = TPercentValue;



        let ActualValue = TActualValue; 



        tdata.forEach(d => {



          let temp = {};



          if (level === 0 && direction == 1) {



            LocationValue = d => d.district_n;



          } else if (level === 1 && direction == 1) {



            LocationValue = d => d.sub_district;



          } 



       



          else if (level === 1 && direction == 0) {



            LocationValue = d => d.sub_district;



          } else if (level === 0 && direction == 0) {



            LocationValue = d => d.district_n;



          }



    



          temp["Location"] = LocationValue(d);



          temp["Percentage"] = PercentageValue(d);



          temp["Actual Number"] = ActualValue(d);



          tbdata.push(temp);



        });



        let percentageColor = d3



          .scaleSequential()



          .domain([d3.max(tdata, PercentageValue), d3.min(tdata, PercentageValue)])



          .interpolator(d3.interpolateRdYlGn);



        let actualColor = d3



          .scaleSequential()



          .domain([d3.max(tdata, ActualValue), d3.min(tdata, ActualValue)])



          .interpolator(d3.interpolateRdYlGn);



    



        rowEnter = row



          .data(tbdata)



          .enter()



          .append("tr");



          



        let td = rowEnter



          .selectAll("td")



          .data(d => {



            return headerName.map(k => {



              return { value: d[k], name: k };



            });



          })



          .enter()



          .append("td")



          .text(d => d.value)



          .attr("align", "center")



          .style("background-color", d =>



            fillCellColor(d, percentageColor, actualColor)



          );



    



        const updatetable = selCat => {



          rowEnter.selectAll("*").remove();



          switch (selCat) {



            case 1:



          PercentageValue = d => d.svrly_stunting_percent;



          ActualValue = d => d.svrly_stntd;



          break;



        case 2:



          PercentageValue = d => d.stunting_percent;



          ActualValue = d => d.stntd_chld;



          break;



        case 3:



          PercentageValue = d => d.svrly_wasting_percent;



          // console.log(PercentageValue(d))



          ActualValue = d => d.svrly_wstd;



          break;



        case 4:



          PercentageValue = d => d.wasting_percent;



          ActualValue = d => d.svrly_wstd;



          break;



        case 5:



          PercentageValue = d => d.svrly_underweight_percent;



          ActualValue = d => d.svrly_uw;



          break;



        case 6:



          PercentageValue = d => d.underweight_percent;



          ActualValue = d => d.uw_chld;



          break;



        case 7:



          PercentageValue = d => d.low_birth_weight_percent;



          ActualValue = d => d.nb_lbw;



          break;



          }



          let newtbdata = [];



          if (level === 0) {



            LocationValue = d => d.district_n;



          } else if (level === 1) {



            LocationValue = d => d.sub_district



            ;



          } 



         



          tdata.forEach(d => {



            let temp = {};



            temp["Location"] = LocationValue(d);



            temp["Percentage"] = PercentageValue(d);



            temp["Actual Number"] = ActualValue(d);



            newtbdata.push(temp);



          });



    



          let percentageColor = d3



            .scaleSequential()



            .domain([



              d3.max(tdata, PercentageValue),



              d3.min(tdata, PercentageValue)



            ])



            .interpolator(d3.interpolateRdYlGn);



          let actualColor = d3



            .scaleSequential()



            .domain([d3.max(tdata, ActualValue), d3.min(tdata, ActualValue)])



            .interpolator(d3.interpolateRdYlGn);



    



          rowEnter = row



            .data(newtbdata)



            .enter()



            .append("tr");



    



          let td = rowEnter



            .selectAll("td")



            .data(d => {



              return headerName.map(k => {



                return { value: d[k], name: k };



              });



            })



            .enter()



            .append("td")



            .text(d => d.value)



            .attr("align", "center")



            .style("background-color", d =>



              fillCellColor(d, percentageColor, actualColor)



            );



        };



    



        d3.select(".back-button").on("click", function() {



          if (level > 0){ level--;



          zoomBox['translate'].pop();zoomBox['scale'].pop();



          



          direction = 0;



          let loc = levelLocation.pop();



          rowEnter.selectAll("*").remove();



          g.selectAll("*").remove();



          let svgTrans = svg.transition().duration(transitionDuration);



          // calculation for zoom



          let transLength = zoomBox.translate.length;



          let scaleLength = zoomBox.scale.length;



          let transX,transY,scaleV;



          if(level !== 0){



            transX = zoomBox.translate[transLength - 1][0];



            transY = zoomBox.translate[transLength - 1][1];



            scaleV = zoomBox.scale[scaleLength-1];



          }



          if(level === 0)



            svgTrans.call(zzoom.transform, d3.zoomIdentity);



          else



           svgTrans.call(zzoom.transform,d3.zoomIdentity.translate(transX,transY).scale(scaleV))



          



          updateCategory("Severely Stunted Children");



          let LocationMonth, LocationDataMonth;



          if (level === 0) {



            switch (month_hack) {



              case "nov":



                LocationMonth = block.Nov;



                LocationDataMonth = blockData.Nov;



                break;



              case "dec":



                LocationMonth = block.Dec;



                LocationDataMonth = blockData.Dec;



                break;



              case "jan":



                LocationMonth = block.Jan;



                LocationDataMonth = blockData.Jan;



                break;



            }



    



            makemap(LocationMonth, LocationDataMonth);



          } else if (level === 1) {



    



            switch (month_hack) {



              case "nov":



                LocationMonth = project.Nov;



                LocationDataMonth = projectData.Nov;



                break;



              case "dec":     



                LocationMonth = project.Dec;



                LocationDataMonth = projectData.Dec;



                break;



              case "jan":



                LocationMonth = project.Jan;



                LocationDataMonth = projectData.Jan;



                break;



            }



            let previousBlock = levelLocation[levelLocation.length -1]; 



    



            let selectedjson = selectedSubFeature(LocationMonth, previousBlock); 



            let selectedcsv = selectedSubData(LocationDataMonth, previousBlock);



             



            makemap(selectedjson, selectedcsv);



          }



        }//if condition ends here



        });



    



    



    



      



    }



    const selectGeoJSON = (val, allMonthGeoJSONData) => {



          switch (val) {



            case "nov":



              return allMonthGeoJSONData.Nov;



              break;



            case "dec":



              return allMonthGeoJSONData.Dec;



              break;



            case "jan":



              return allMonthGeoJSONData.Jan;



              break;



          }



        };



        const selectCSV = (val, allMonthCSVData) => {



          switch (val) {



            case "nov":



              return allMonthCSVData.Nov;



              break;



            case "dec":



              return allMonthCSVData.Dec;



              break;



            case "jan":



              return allMonthCSVData.Jan;



              break;



          }



        };



    $(".drop-month a").click(function(){



        console.log('hello');



        $(this).parents(".dropdown").find('.btn').html($(this).text());



        // $('.drop-category').parents(".dropdown").find('.btn').text('severely stunted children')



      // $(this).parents(".dropdown").find('.btn').val($(this).data('value'));



          var val = $(this).text();



    



          if(val === 'November'){



            month_hack = 'nov'



          }else if(val === 'December'){



            month_hack = 'dec'



          }else if(val === 'January'){



            month_hack = 'jan'



          }



            let monthjson = selectGeoJSON(month_hack,block);



          let monthdata = selectCSV(month_hack,blockData);



          level = 0;



        g.selectAll("*").remove();



          rowEnter.selectAll("*").remove();



            svg.transition().duration(transitionDuration).call( zzoom.transform, d3.zoomIdentity );



            updateMonth();



            levelLocation = [];



            makemap(monthjson,monthdata);



      })



      //initial map



      makemap(block.Nov, blockData.Nov);



    };



    



    async function fetchGeoJSON() {



      let geoJSONBundle = {};



    



      let blockJSON = await d3.json("{% static 'maha_dashboard/data/json/district.geojson'%}");



      let projectJSON = await d3.json("{% static 'maha_dashboard/data/json/block.geojson'%}");



      // let beatJSON = await d3.json("{% static 'data/beat.json'%}");



      // let awcJSON = await d3.json("{% static 'data/awc.json'%}");



    



      geoJSONBundle.blockJSON = blockJSON.features;



      geoJSONBundle.projectJSON = projectJSON.features;



      // geoJSONBundle.beatJSON = beatJSON.features;



      // geoJSONBundle.awcJSON = awcJSON.features;



    



      return geoJSONBundle;



    }



    



    const monthWiseCSV = data => {



      let month = { Nov: [], Dec: [], Jan: [] };



      data.forEach(d => {



        let temp = {};



        if (d.sub_district) temp.sub_district = d.sub_district;



        // if (d.beat_n) temp.beat_n = d.beat_n;



        // if (d.awc_with_code) temp.awc_with_code = d.awc_with_code;



        temp.district_n = d.district_n;



    temp.mdrtly_stntd = +d.mdrtly_stntd;



    temp.svrly_stntd = +d.svrly_stntd;



    temp.svrly_wstd = +d.svrly_wstd;



    temp.mdrtly_wstd = +d.mdrtly_wstd;



    temp.svrly_uw = +d.svrly_uw;



    temp.mdrtly_uw = +d.mdrtly_uw;



    temp.nb_lbw = +d.nb_lbw;



    temp.svrly_wasting_percent = +d.svrly_wasting_percent;



    temp.wasting_percent = +d.wasting_percent;



    temp.svrly_stunting_percent = +d.svrly_stunting_percent;



    temp.stunting_percent = +d.stunting_percent;



    temp.svrly_underweight_percent = +d.svrly_underweight_percent;



    temp.underweight_percent = +d.underweight_percent;



    temp.low_birth_weight_percent = +d.low_birth_weight_percent;



    temp.wstd_chld = +d.wstd_chld;



    temp.stntd_chld = +d.stntd_chld;



		temp.uw_chld = +d.uw_chld;



    temp.ht_msrmnt_effcy = +d.ht_msrmnt_effcy;



		temp.wt_msrmnt_effcy = +d.wt_msrmnt_effcy;



    month[d.month_n].push(temp);



        



      });



      return month;



    };



    const addProperty = (data, geojson) => {



      let x, y;



      for (let i = 0; i < data.length; i++) {



        for (let j = 0; j < geojson.length; j++) {



          if(geojson[j].properties.Block) {



            x = data[i].sub_district;



            y = geojson[j].properties.Block;



          } else {



            x = data[i].district_n;



            y = geojson[j].properties.District;



          }



    



          if (x === y) {



        geojson[j].properties.wstd_chld = data[i].wstd_chld;



        geojson[j].properties.stntd_chld = data[i].stntd_chld;



        geojson[j].properties.uw_chld = data[i].uw_chld;



        geojson[j].properties.ht_msrmnt_effcy = data[i].ht_msrmnt_effcy;



        geojson[j].properties.wt_msrmnt_effcy = data[i].wt_msrmnt_effcy;



        geojson[j].properties.mdrtly_stntd = data[i].mdrtly_stntd;



        geojson[j].properties.svrly_stntd = data[i].svrly_stntd;



        geojson[j].properties.svrly_wstd = data[i].svrly_wstd;



        geojson[j].properties.mdrtly_wstd = data[i].mdrtly_wstd;



        geojson[j].properties.svrly_uw = data[i].svrly_uw;



        geojson[j].properties.mdrtly_uw = data[i].mdrtly_uw;



        geojson[j].properties.nb_lbw = data[i].nb_lbw;



        geojson[j].properties.svrly_wasting_percent = data[i].svrly_wasting_percent;



        geojson[j].properties.wasting_percent = data[i].wasting_percent;



        geojson[j].properties.svrly_stunting_percent = data[i].svrly_stunting_percent;



        geojson[j].properties.stunting_percent = data[i].stunting_percent;



        geojson[j].properties.svrly_underweight_percent = data[i].svrly_underweight_percent;



        geojson[j].properties.underweight_percent = data[i].underweight_percent;



        geojson[j].properties.low_birth_weight_percent = data[i].low_birth_weight_percent;







          }



        }



      }



    };



    async function mergeData(geoJSON) {



      //merging block data



      let blockGeoJSON = geoJSON.blockJSON;



      let blockCSV = await d3.csv("{% static 'maha_dashboard/data/csv/mapfeature/district.csv'%}");



    



      let blockMonthWiseCSV = monthWiseCSV(blockCSV);



      // console.log(blockMonthWiseCSV);



    



      let blockGeoJSONNov = JSON.parse(JSON.stringify(blockGeoJSON));



      let blockGeoJSONDec = JSON.parse(JSON.stringify(blockGeoJSON));



      let blockGeoJSONJan = JSON.parse(JSON.stringify(blockGeoJSON));



      //call by reference so need to return



      addProperty(blockMonthWiseCSV.Nov, blockGeoJSONNov);



      addProperty(blockMonthWiseCSV.Dec, blockGeoJSONDec);



      addProperty(blockMonthWiseCSV.Jan, blockGeoJSONJan);



      const mergedBlock = {



        Nov: blockGeoJSONNov,



        Dec: blockGeoJSONDec,



        Jan: blockGeoJSONJan



      };



      //merging project data



      let projectGeoJSON = geoJSON.projectJSON;



      let projectCSV = await d3.csv("{% static 'maha_dashboard/data/csv/mapfeature/subdistrict.csv'%}");



    



      let projectMonthWiseCSV = monthWiseCSV(projectCSV);



      let projectGeoJSONNov = JSON.parse(JSON.stringify(projectGeoJSON));



      let projectGeoJSONDec = JSON.parse(JSON.stringify(projectGeoJSON));



      let projectGeoJSONJan = JSON.parse(JSON.stringify(projectGeoJSON));



      addProperty(projectMonthWiseCSV.Nov, projectGeoJSONNov);



      addProperty(projectMonthWiseCSV.Dec, projectGeoJSONDec);



      addProperty(projectMonthWiseCSV.Jan, projectGeoJSONJan);



      const mergedProject = {



        Nov: projectGeoJSONNov,



        Dec: projectGeoJSONDec,



        Jan: projectGeoJSONJan



      };



    



      



    



      render(



        mergedBlock,



        mergedProject,



        // mergedBeat,



        // mergedAWC,



        blockMonthWiseCSV,



        projectMonthWiseCSV,



        // beatMonthWiseCSV,



        // awcMonthWiseCSV



      );



    }



    fetchGeoJSON().then(mergeData);



    



    const sliderRange = d3



      .sliderBottom()



      .min(0)



      .max(0.999)



      .width(300)



      .tickFormat(d3.format(".1%"))



      .ticks(5)



      .default([0.25, 0.5])



      .fill("yellow")



      .handle(



        d3



          .symbol()



          .type(d3.symbolCircle)



          .size(550)()



      );



    



    const gRange = d3



      .select("div#slider-range")



      .append("svg")



      .attr("width", 500)



      .attr("height", 100)



      .append("g")



      .attr("transform", "translate(30,30)");



    



    gRange.call(sliderRange);



    



    let leftX1 = +d3.select("line.track-inset").attr("x1");



    let leftX2 = +d3.select("line.track-fill").attr("x1") - 15;



    d3.select("g.slider")



      .append("line")



      .attr("class", "leftcolor")



      .attr("x1", leftX1)



      .attr("x2", leftX2)



      .attr("stroke-width", 4)



      .attr("stroke-linecap", "round");



    



    d3.select("line.track-fill").attr("stroke", "yellow");



    d3.select("line.leftcolor").attr("stroke", "green");



    d3.select("line.track-inset").attr("stroke", "red");



    



</script>



{% endblock %}






