{% extends 'base.html' %}

{% load static %}

{% block content%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


<style>

    img{



width: 80px;



height:80px;



}

</style>

          

        <div class="container">

	<div class="row" style="font-size:20px; font-weight:bold; top: 60px; position:absolute; right:10px;"><u><i>

                <a href="{% static 'Know_your_district_dashboard_manual.pdf' %}" target="_blank" style="color: rgb(38, 112, 112);">Dashboard Manual</a></i></u>

            </div>

            <div class="row">

                <div class="col">

                <a class="navbar-brand" href="/"><img src="{% static 'dashboard/img/iitb_logo.jpg'%}" class=""></img></a>

                </div>

                <div class="col">

         	    <a class="navbar-brand" href="#"><img src="{% static 'dashboard/img/WCD.jpg'%}" class="" style="width: 100px;"></img></a>

                </div>

                <div class="col">

       		    <a class="navbar-brand" href="#"><img src="{% static 'dashboard/img/unicef_india.jpg'%}" class=""></img></a>

                </div>

                <div class="col">

       		    <a class="navbar-brand" href="#"><img src="{% static 'dashboard/img/ctara.jpg'%}" class=""></img></a>

                </div>

              </div>







            <div class=" mt-5" style="height:100%;">

                

               

                <p class="text-center">

                   <u> Dashboard covers the 18 Nutrition indicators categorized in 3 parts</u>

                    <br><br>

                   

                </p>

                <ul class="text-center">

                    <li><a href="#"><u>Outcome indicators:</u></a>

                                        It includes the nutrition status (Stunting/Wasting/Underweight/Low Birth Weight) of the children.

                    </li> <br>                    

                    <li><a href="#"><u>Child Related(IYCF) Indicators:</u></a>

                                        It includes the Brestfeeding and Complementary feeding practices followed for 0-6 months and 6-24 months children.

                    </li><br>

                    <li><a href="#"><u>Pregnant Women Related Indicators:</u></a>

                                        It includes ANC visits, number of Anaemic women.

                    </li>

                </ul>

            </div>

        </div>  

        {% if messages %}

            {% for message in messages %}

            <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});            </script>

            {% endfor %}

        {% endif %}

        {% if user.is_authenticated %}

            <div class="dash-button container text-center">

                <div class="">
                    <div class="input-field col-4" style="margin-left: 350px;">
                        <form id="myform"  name="myForm" method="POST" enctype="multipart/form-data">
                        
                                {% csrf_token %}
                        
                            <b><i>Select a Region:</i> </b>
                            <select name = "dist_select" id="distList" class="check"> 
                                <option value="" disabled selected>Select Region</option>
                                {% for dist_select in dd_dt_data %} 
                                    <option value = "{{ dist_select.district_n }}">{{ dist_select.district_n }}
                                    </option>
                                {% endfor %}                              
                            </select>

                            {% if user.username == 'Amravati' %} 
                                <select name = "quarter_select" id="quarterList" class="check"> 
                                    <option value="q21">Dec-Feb</option>
                                </select>
                            {% else %}
                                <select name = "quarter_select" id="quarterList" class="check"> 
                                    <option value="q1">Aug-Oct</option>
                                    <option value="q2">Nov-Jan</option>
                                    <!-- <option value="q3">Feb-April</option>
                                    <option value="q4">May-July</option>                                       -->
                                </select>
                            {% endif %}    

                            <button type="submit">Submit</button>

                        </form>
                    </div>  
                </div>

            </div>

		<br><br>     

            <p class="text-center">"This is Beta Version"</p>

        {% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.min.js"></script>
               
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
  
    $(document).ready(function(){
      $('select').formSelect();
    });

   

// function validateForm() {
//     var pass = document.forms["myForm"]["password"].value;
//     var dSelect = document.forms["myForm"]["dist_select"].value;
//     if((dSelect=="Nandurbar" && pass=="knowyourNandurbar") || (dSelect=="Palghar" && pass=="knowyourPalghar") || (dSelect=="Latur" && pass=="knowyourLatur"))
//     {
//         return true;
//     }
//     else
//     {
//         alert("Password is incorrect or empty");
//         return false;
//     }

// }

$(document).ready(function(){

    $("#distList").change(function(){
        var dSelect = document.forms["myForm"]["dist_select"].value;
        console.log(dSelect);
        if(dSelect == "Maharashtra")
        {
            $("#myform").attr("action", "{% url 'maha-feat1' %}");
        }
        else 
        {
            $("#myform").attr("action", "{% url 'f1' %}");
        }
    })
})
</script>


   {% endblock %}

   
